/* desktop */
@media screen and (min-width: 768px) {

  #list-table td:nth-child(1),
  #list-table th:nth-child(2),
  #list-table td:nth-child(2) {
    text-align: center;
  }

  #list-table th:nth-child(1) {
    width: 4%;
  }
  #list-table th:nth-child(2) {
    width: 6%;
  }
  #list-table th:nth-child(3) {
    width: 20%;
  }
  #list-table th:nth-child(4) {
    width: 14%;
  }
  #list-table th:nth-child(5) {
    width: 14%;
  }
  #list-table th:nth-child(6) {
    width: 6%;
  }
  #list-table th:nth-child(7) {
    width: 25%;
  }
  #list-table th:nth-child(8) {
    width: 6%;
  }
  #list-table th:nth-child(9) {
    width: 6%;
  }
}

/* mobile and tablet */
@media screen and (max-width: 767px) {

  /* style.css 上書き */
  #list-table tr td:first-child {
    text-align: left;
  }
}
