<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-detached">
      <div class="content-body">
        <!-- <div class="content-overlay" id='content-overlay' (click)="contentOverlay($event)"></div> -->
        <!-- <div id="query-area">
            <p>
              <a class="btn btn-default" data-toggle="collapse" href="#query-collapse">
                条件検索▼
              </a>
            </p>
            <div id="query-collapse" class="collapse">
              <div class="well">
                <form>

                </form>
              </div>
            </div>
          </div> -->
        <section class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">識別コード</label>
                        <input type="text" class="form-control" id="" placeholder="IMEI/ICCID/SN"
                          [(ngModel)]="pageModel.query.querycode">
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">プロダクト</label>
                        <input type="text" class="form-control" id="" placeholder=""
                          [(ngModel)]="pageModel.query.productname">
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">プロジェクト</label>
                        <input type="text" class="form-control" id="" placeholder=""
                          [(ngModel)]="pageModel.query.projectname">
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">グループ</label>
                        <input type="text" class="form-control" id="" placeholder=""
                          [(ngModel)]="pageModel.query.group">
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">所有者</label>
                        <ng-select [items]="companySelectArray" [searchable]="true" bindLabel="companyname"
                          [(ngModel)]="pageModel.query.conpanySelected">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">業界</label>
                        <input type="text" class="form-control" id="" placeholder=""
                          [(ngModel)]="pageModel.query.industry">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="heading-elements mt-0 pull-right" style="padding-top:20px;">
                          <button class="btn btn-primary btn-sm gap_contact" (click)="serachDevices()">
                            <i class="d-md-none d-block feather ft-plus white"></i>
                            <span class="d-md-block d-none">検　索</span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <!-- Task List table -->
                  <div class="row">
                    <div class="col-sm-12">
                      <button class="btn btn-primary btn-sm gap_contact" (click)="addRegisterModal(addModalContent)">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">新　規</span></button>
                      <button class="btn btn-primary btn-sm gap_contact" style="margin-left:5px"
                        (click)="addMaxModal(addExcelModalContent)">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">一括登録</span></button>
                      <!-- <button class="btn btn-primary btn-sm gap_contact" style="margin-left:5px"
                        (click)="addTableDataModal(addGroupModalContent)">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">グループ追加</span></button> -->
                      <button class="btn btn-danger btn-sm gap_contact" style="margin-left:5px"
                        (click)="deleteCheckedRow()">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">削　除</span></button>
                    </div>
                  </div>
                  <!-- [rows]="pageModel.deviceList" -->
                  <ngx-datatable #table class="bootstrap row contacts-table" [rows]="pageModel.deviceList"
                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="70" [limit]="5"
                    [selected]="selected" [selectionType]="'checkbox'" (select)='onSelectContact($event)' fxFlex="auto"
                    [perfectScrollbar]="config">
                    <ngx-datatable-column [flexGrow]="1" [minWidth]="30" [maxWidth]="50">
                      <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn">
                        <span class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="selectAll" [checked]="allRowsSelected"
                            (change)="selectFn(!allRowsSelected)" />
                          <label class="custom-control-label" for="selectAll"></label>
                        </span>
                      </ng-template>
                      <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                        let-onCheckboxChangeFn="onCheckboxChangeFn" let-isSelected="isSelected">
                        <div class="custom-control custom-checkbox _center">
                          <input type="checkbox" class="custom-control-input" id="select{{rowIndex}}"
                            [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                          <label class="custom-control-label" for="select{{rowIndex}}"></label>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="No." [flexGrow]="1" [minWidth]="40" [maxWidth]="50">
                      <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                        {{rowIndex + 1}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="SN" [flexGrow]="1" [minWidth]="160" [maxWidth]="200">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.sn}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="IMEI" [flexGrow]="1" [minWidth]="160" [maxWidth]="200">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.imei}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="ICCID" [flexGrow]="1" [minWidth]="160" [maxWidth]="200">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.iccid}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="SIMICCID" [flexGrow]="1" [minWidth]="160" [maxWidth]="200"
                      [cellClass]="'my-custom-cell'">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.sim_iccid}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="状態" [flexGrow]="1" [minWidth]="160" [maxWidth]="200">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <!-- {{row.sim_iccid}} -->"設計中"
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="所有者" [flexGrow]="1" [minWidth]="160" [maxWidth]="200">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.companyname}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="操作" [flexGrow]="1" [minWidth]="50" [maxWidth]="100">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <a [routerLink]="" class="primary edit mr-1 mrless"
                          (click)="editTableDataModal(editDeviceModel, row)"><i class="la la-pencil"></i>
                        </a>
                        <a class="danger delete mr-1 mrless"><i class="la la-trash-o" (click)="deleteRow(row)"></i></a>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->

<!-- <ng-template #editTableDataModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="onUpdate(editForm,selectedContact.id)" #editForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Edit Contact</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <input type="text" [(ngModel)]="selectedContact.name" #editname="ngModel" name="name" id="name"
          class="name form-control" placeholder="Name"
          [ngClass]="{ 'is-invalid': editForm.submitted && editname.invalid }" required>
        <div *ngIf="editForm.submitted && editname.invalid" class="invalid-feedback">
          <div *ngIf="editname.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group col-12">
        <input type="text" [(ngModel)]="selectedContact.email" #editemail="ngModel" name="email" id="email"
          class="email form-control" placeholder="Email"
          [ngClass]="{ 'is-invalid':editForm.submitted && editemail.invalid }" required email>
        <div *ngIf="editForm.submitted && editemail.invalid" class="invalid-feedback">
          <div *ngIf="editemail.errors.required">Email is required</div>
          <div *ngIf="editemail.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group col-12">
        <input type="text" [(ngModel)]="selectedContact.phone" #editphone="ngModel" name="phone" id="phone"
          class="phone form-control" placeholder="Phone Number" (keyup)="onFormat()" maxlength="14">
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">Edit</span></button>
      </div>
    </div>
  </form>
</ng-template> -->

<ng-template #editDeviceModel let-c="close" let-d="dismiss">
  <form (ngSubmit)="editDeviceDetail(editDeviceForm,selectedDevice.deviceid)" #editDeviceForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">デバイス詳細</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <h6>デバイス名</h6>
        <input type="text" [(ngModel)]="selectedDevice.devicename" name="devicename" class="form-control"
          placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>IMEI</h6>
        <input type="text" [(ngModel)]="selectedDevice.imei" name="imei" class="contact-name form-control"
          placeholder="IMEI" readonly="readonly">
      </div>
      <div class="form-group col-12">
        <h6>ICCID</h6>
        <input type="text" [(ngModel)]="selectedDevice.iccid" name="iccid" class="contact-email form-control"
          placeholder="ICCID" readonly="readonly">
      </div>
      <div class="form-group col-12">
        <h6>SN</h6>
        <input type="text" [(ngModel)]="selectedDevice.sn" name="sn" id="contact-phone"
          class="contact-phone form-control" placeholder="SN" maxlength="14">
      </div>
      <div class="form-group col-12">
        <h6>所有者</h6>
        <input type="text" [(ngModel)]="selectedDevice.companyid" name="companyid" class="form-control" placeholder=""
          readonly="readonly">
      </div>
      <div class="form-group col-12">
        <h6>ファームウェア・バージョン</h6>
        <input type="text" [(ngModel)]="selectedDevice.fmlastestversion" name="fmlastestversion" class="form-control"
          placeholder="" readonly="readonly">
      </div>
      <div class="form-group col-12">
        <h6>ファームウェア・バージョンの最新の確認時刻</h6>
        <input type="text" [(ngModel)]="selectedDevice.versioncomfirmtime" name="versioncomfirmtime"
          class="form-control" placeholder="" readonly="readonly">
      </div>
      <div class="form-group col-12">
        <h6>プロダクト</h6>
          <ng-select [items]="productSelectArray" [searchable]="true" bindLabel="productname" placeholder="プロダクト"
          name="product" [(ngModel)]="pageModel.deviceDetail.productSelected">
        </ng-select>
      </div>
      <div class="form-group col-12">
        <h6>SIMカードIMSI</h6>
        <input type="text" [(ngModel)]="selectedDevice.sim_imsi" name="simimsi" class="form-control" placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>SIMカード電話番号</h6>
        <input type="text" [(ngModel)]="selectedDevice.sim_tel" name="simtel" class="form-control"
          placeholder="SIMカード電話番号">
      </div>
      <div class="form-group col-12">
        <h6>SIMカードICCID</h6>
        <input type="text" [(ngModel)]="selectedDevice.sim_iccid" name="simiccid" class="form-control" placeholder="">
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-device-item" class="btn btn-info add-contact-item"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">保存</span></button>
      </div>
    </div>
  </form>
</ng-template>


<ng-template #addModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="registerDevice(addDeviceForm)" #addDeviceForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">登録</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <h6>デバイス名</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.devicename" name="devicename" class="form-control" maxlength="50"
          placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>IMEI</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.imei" name="imei" class="contact-name form-control" maxlength="50"
          placeholder="IMEI">
      </div>
      <div class="form-group col-12">
        <h6>ICCID</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.iccid" name="iccid" class="contact-email form-control" maxlength="50"
          placeholder="ICCID">
      </div>
      <div class="form-group col-12">
        <h6>SN</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.sn" name="sn" id="contact-phone" maxlength="50"
          class="contact-phone form-control" placeholder="SN">
      </div>
      <div class="form-group col-12">
        <h6>所有者</h6>
        <ng-select [items]="companySelectArray" [searchable]="true" bindLabel="companyname" placeholder="所有者"
          name="company" [(ngModel)]="pageModel.deviceDetail.companySelected">
        </ng-select>
      </div>
      <div class="form-group col-12">
        <h6>暗号化通信</h6>
        <ng-select [items]="sslSelectArray" [searchable]="true" bindLabel="item_text" placeholder="暗号化通信" name="ssl"
          [(ngModel)]="pageModel.deviceDetail.sslSelected">
        </ng-select>
      </div>
      <div class="form-group col-12">
        <h6>暗号化キー</h6>
        <input type="text" class="form-control" name="encryptedKey" placeholder=""
          [(ngModel)]="pageModel.deviceDetail.encryptedKey">
      </div>
      <div class="form-group col-12">
        <h6>接続サーバーアドレス</h6>
        <input type="text" class="form-control" name="connectserverurl" placeholder="" maxlength="50"
          [(ngModel)]="pageModel.deviceDetail.connectserverurl">
      </div>
      <div class="form-group col-12">
        <h6>接続サーバーポート番号</h6>
        <input type="text" class="form-control" name="connectserverport" placeholder="" maxlength="4"
          [(ngModel)]="pageModel.deviceDetail.connectserverport">
      </div>
      <div class="form-group col-12">
        <h6>バンディング済みフラグ</h6>
        <input type="text" class="form-control" name="bindingflag" placeholder=""
          [(ngModel)]="pageModel.deviceDetail.bindingflag">
      </div>
      <div class="form-group col-12">
        <h6>プロダクト</h6>
          <ng-select [items]="productSelectArray" [searchable]="true" bindLabel="productname" placeholder="プロダクト"
          name="product" [(ngModel)]="pageModel.deviceDetail.productSelected">
        </ng-select>
      </div>
      <div class="form-group col-12">
        <h6>SIMカードIMSI</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.sim_imsi" name="simimsi" class="form-control" maxlength="50"
          placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>SIMカード電話番号</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.sim_tel" name="simtel" class="form-control" maxlength="50"
          placeholder="SIMカード電話番号">
      </div>
      <div class="form-group col-12">
        <h6>SIMカードICCID</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.sim_iccid" name="simiccid" class="form-control" maxlength="50"
          placeholder="">
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="add-contact-item" class="btn btn-info add-contact-item"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">保存</span></button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #addExcelModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="registerDevices(addExeclForm)" #addExeclForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">一括登録</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <i class="feather ft-download info" (click)="downloadSampleFiles()">サンプルファイルをダウンロード</i>
      </div>
      <div class="custom-file form-group col-12">
        <input type="file" class="custom-file-input" accept='contactImage/*' (change)="changeTarget($event)"
          id="customFile">
        <label class="custom-file-label">ファイルを選択</label>
      </div>
    </div>
    <div class="table-responsive form-group col-12">
      <table id="list-table" class="table table-hover table-bordered" cellspacing="0">
        <thead>
          <tr>
            <th scope="col">no.</th>
            <th scope="col">projectid</th>
            <th scope="col">groupId</th>
            <th scope="col">deviceName</th>
            <th scope="col">imei</th>
            <th scope="col">iccid</th>
            <th scope="col">sn</th>
            <th scope="col">sim_iccid</th>
            <th scope="col">sim_imsi</th>
            <th scope="col">sim_tel</th>
            <th scope="col">encryptedCommunications</th>
            <th scope="col">encryptedKey</th>
            <th scope="col">connectServerURL</th>
            <th scope="col">connectServerPort</th>
            <th scope="col">bindingFlag</th>
            <th scope="col">fmLastestVersion</th>
            <th scope="col">versionComfirmTime</th>
            <th scope="col">productId</th>
            <th scope="col">companyId</th>
            <th scope="col">userId</th>
            <th scope="col">lastProjectId</th>
            <th scope="col">lastGroupId</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pageModel.addDeviceDetailList; let i = index;">
            <td data-label="no.">{{i + 1}}</td>
            <td data-label="projectid">{{item.projectid}}</td>
            <td data-label="groupId">{{item.groupid}}</td>
            <td data-label="deviceName">{{item.devicename}}</td>
            <td data-label="imei">{{item.imei}}</td>
            <td data-label="iccid">{{item.iccid}}</td>
            <td data-label="sn">{{item.sn}}</td>
            <td data-label="sim_iccid">{{item.sim_iccid}}</td>
            <td data-label="sim_imsi">{{item.sim_imsi}}</td>
            <td data-label="sim_tel">{{item.sim_tel}}</td>
            <td data-label="encryptedCommunications">{{item.encryptedcommunications}}</td>
            <td data-label="encryptedKey">{{item.encryptedkey}}</td>
            <td data-label="connectServerURL">{{item.connectserverurl}}</td>
            <td data-label="connectServerPort">{{item.connectserverport}}</td>
            <td data-label="bindingFlag">{{item.bindingflag}}</td>
            <td data-label="fmLastestVersion">{{item.fmlastestversion}}</td>
            <td data-label="versionComfirmTime">{{item.versioncomfirmtime}}</td>
            <td data-label="productId">{{item.productid}}</td>
            <td data-label="companyId">{{item.companyid}}</td>
            <!-- <td data-label="industry">{{item.industry}}</td> -->
            <td data-label="userId">{{item.userid}}</td>
            <td data-label="lastProjectId">{{item.lastprojectId}}</td>
            <td data-label="lastGroupId">{{item.lastgroupid}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="add-contact-item" class="btn btn-info add-contact-item"><i
            class="la la-paper-plane-o d-lg-none"></i>
          <span class="d-none d-lg-block">一括登録</span></button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #addGroupModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="addNewContact(groupSelectForm)" #groupSelectForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">グループ選択</h5>
      <button type="button" name="groupSelect" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <label class="card-title" for="company">グループを選択してください。</label>
        <ng-select [items]="companySelectArray" [searchable]="true" bindLabel="companyname" placeholder="所有者"
          name="company" [(ngModel)]="pageModel.deviceDetail.companySelected">
        </ng-select>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="add-contact-item" class="btn btn-info add-contact-item"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">保存</span></button>
      </div>
    </div>
  </form>
</ng-template>