<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-detached">
      <div (window:resize)="onResize()" >
      </div>
      <div class="content-body">
        <div>
          <label for="switch">条件検索：</label>
          <input id="switch" name="switch" type="checkbox" [(ngModel)]="show" />
        </div>
        <section class="row" *ngIf="show">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">識別コード</label>
                        <input type="text" class="form-control" id="" placeholder="IMEI/ICCID/SN"
                          [(ngModel)]="pageModel.query.querycode">
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">プロダクト</label>
                        <input type="text" class="form-control" id="" placeholder=""
                          [(ngModel)]="pageModel.query.productname">
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">プロジェクト</label>
                        <input type="text" class="form-control" id="" placeholder=""
                          [(ngModel)]="pageModel.query.projectname">
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">グループ</label>
                        <input type="text" class="form-control" id="" placeholder=""
                          [(ngModel)]="pageModel.query.group">
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">会社名</label>
                        <ng-select [items]="companySelectArray" [searchable]="true" bindLabel="companyname"
                          bindValue="companyid" [(ngModel)]="pageModel.query.companyid">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <div class="heading-elements mt-0 pull-right" style="padding-top:30px;">
                          <button class="btn btn-primary btn-sm gap_contact" (click)="serachDevices()">
                            <i class="d-md-none d-block feather ft-plus white"></i>
                            <span class="d-md-block d-none">検　索</span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- *blockUI="'basicTables'; message: 'Loading'" -->
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <!-- <p class="card-text">Using the most basic table markup, here’s how <code>.table</code>-based tables
                  look in Bootstrap. You can bind our <code>NgbPagination</code> component with slicing the data list.</p> -->
                <div class="row">
                  <div class="col-sm-12">
                    <button class="btn btn-primary btn-sm gap_contact" (click)="openRegisterModal(registerDeviceModal)">
                      <i class="d-md-none d-block feather ft-plus white"></i>
                      <span class="d-md-block d-none">新　規</span></button>
                    <button class="btn btn-primary btn-sm gap_contact" style="margin-left:5px"
                      (click)="openExcelModal(registerExcelModal)">
                      <i class="d-md-none d-block feather ft-plus white"></i>
                      <span class="d-md-block d-none">一括登録</span></button>
                    <!-- <button class="btn btn-primary btn-sm gap_contact" style="margin-left:5px"
                      (click)="openSelectGroupModal(selectGroupModal)">
                      <i class="d-md-none d-block feather ft-plus white"></i>
                      <span class="d-md-block d-none">グループ追加</span></button> -->
                    <button class="btn btn-danger btn-sm gap_contact" style="margin-left:5px"
                      (click)="deleteCheckedRow()">
                      <i class="d-md-none d-block feather ft-plus white"></i>
                      <span class="d-md-block d-none">削　除</span></button>
                  </div>
                </div>
              </div>
              <div class="table-responsive card-body">
                <table class="table grid-breakpoints" id="devicesTable">
                  <thead>
                    <tr>
                      <th scope="col" class="thcolor"><input type="checkbox" (change)="checkAll($event)">
                      </th>
                      <th scope="col" class="thcolor">No.</th>
                      <th scope="col" class="thcolor">操作</th>
                      <th scope="col" class="thcolor" (click)="sortData('sn')">SN<i
                        *ngIf="pageModel.sort.sn" [ngClass]="lasort"></i></th>
                      <th scope="col" class="thcolor" (click)="sortData('imei')">IMEI<i
                        *ngIf="pageModel.sort.imei" [ngClass]="lasort"></i>
                      </th>
                      <th scope="col" class="thcolor" (click)="sortData('iccid')">ICCID<i
                        *ngIf="pageModel.sort.iccid" [ngClass]="lasort"></i></th>
                      <!-- <th scope="col" class="thcolor">状態</th> -->
                      <th scope="col" class="thcolor" (click)="sortData('devicename')">デバイス名<i
                        *ngIf="pageModel.sort.devicename" [ngClass]="lasort"></i></th>
                      <th scope="col" class="thcolor" (click)="sortData('companyname')">会社名<i
                        *ngIf="pageModel.sort.companyname" [ngClass]="lasort"></i></th>
                      <th scope="col" class="thcolor" (click)="sortData('productname')">プロダクト<i
                        *ngIf="pageModel.sort.productname" [ngClass]="lasort"></i></th>
                      <th scope="col" class="thcolor" (click)="sortData('projectname')">プロジェクト<i
                        *ngIf="pageModel.sort.projectname" [ngClass]="lasort"></i></th>
                      <th scope="col" class="thcolor" (click)="sortData('groupname')">グループ<i
                          *ngIf="pageModel.sort.groupname" [ngClass]="lasort"></i></th>
                      <th scope="col" class="thcolor"  (click)="sortData('userfullname')">所有者<i
                        *ngIf="pageModel.sort.userfullname" [ngClass]="lasort"></i></th>
                      <th scope="col" class="thcolor" >SIMカードIMSI</th>
                      <th scope="col" class="thcolor" >SIMカード電話番号</th>
                      <th scope="col" class="thcolor" >暗号化キー</th>
                      <th scope="col" class="thcolor" >暗号化通信</th>
                      <th scope="col" class="thcolor" >接続サーバーアドレス</th>
                      <th scope="col" class="thcolor" >接続サーバーポート番号</th>
                      <th scope="col" class="thcolor" >バンディング済み</th>
                      <th scope="col" class="thcolor" >ファームウェア・最新バージョン</th>
                      <th scope="col" class="thcolor" >ファームウェア・最新バージョン確認時刻</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let element of PaginationData;let i = index">
                      <td>
                        <input type="checkbox" [checked]="element.isSelected" (change)="checkChange($event,element)">
                      </td>
                      <td nowrap>{{(page-1)*pageSize+i+1}}</td>
                      <td nowrap>
                        <a [routerLink]="" class="primary edit mr-1 mrless"
                          (click)="openEditModal(editDeviceModel, element)"><i class="la la-pencil"></i>
                        </a>
                        <a class="danger delete mr-1 mrless"><i class="la la-trash-o"
                            (click)="deleteRow(element)"></i></a>
                      </td>
                      <td nowrap>{{ element.sn }}</td>
                      <td nowrap>{{ element.imei}}</td>
                      <td nowrap>{{ element.sim_iccid }}</td>
                      <!-- <td>設計中todo</td> -->
                      <td nowrap>{{ element.devicename }}</td>
                      <td nowrap>{{ element.companyname}}</td>
                      <td nowrap>{{ element.productname}}</td>
                      <td nowrap>{{ element.projectname}}</td>
                      <td nowrap>{{ element.groupname}}</td>

                      <td nowrap>{{ element.userfullname}}</td>
                      <td nowrap>{{ element.sim_imsi}}</td>
                      <td nowrap>{{ element.sim_tel}}</td>
                      <td nowrap>{{ element.encryptedkey}}</td>
                      <td nowrap>
                        <div> 
                          <ui-switch class="switchery" switchColor="white" color="rgb(55, 188, 155)" size="small" [checked]="element.sslChecked">
                          </ui-switch>
                          <label for="switcherySize2" class="font-medium-2 text-bold-600 ml-1"></label>
                        </div>
                      </td>
                      <td nowrap>{{ element.connectserverurl}}</td>
                      <td nowrap>{{ element.connectserverport}}</td>
                      <td nowrap>
                        <div> 
                          <ui-switch class="switchery" switchColor="white" color="rgb(55, 188, 155)" size="small" [checked]="element.bindingflagChecked">
                          </ui-switch>
                          <label for="switcherySize2" class="font-medium-2 text-bold-600 ml-1"></label>
                        </div>
                      </td>
                      <td nowrap>{{ element.fmlastestversion}}</td>
                      <td nowrap>{{ element.versioncomfirmtime}}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-lg-4 col-md-12">
                    <div *ngIf="dataCount === 0">{{dataCount}} 件</div>
                    <div *ngIf="dataCount !== 0 && dataCount >= pageSize * page">
                      {{dataCount}} 件中 {{(page-1) * pageSize + 1}} ~ {{page * pageSize}} を表示
                    </div>
                    <div *ngIf="dataCount !== 0 && dataCount<pageSize*page">
                      {{dataCount}} 件中 {{page * pageSize-pageSize+1}} ~ {{dataCount}}を表示
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12 " [ngClass]="{'justify-content-center': bigSize}">
                      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="3" [rotate]="true" [boundaryLinks]="true">
                      </ngb-pagination>
                  </div>
                    <div class="col-lg-4 col-md-12" [ngClass]="{'alignRight': bigSize}">
                      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="20">20 items per page</option>
                        <option [ngValue]="50">50 items per page</option>
                        <option [ngValue]="100">100 items per page</option>
                      </select>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<p-toast position="top-right" key="alertModal" baseZIndex="999"></p-toast>
<p-confirmDialog
  [baseZIndex]="10000" rejectButtonStyleClass="p-button-secondary" 
  icon="pi pi-exclamation-triangle" 
  acceptLabel="確認" 
  rejectLabel="取消">
</p-confirmDialog>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<ng-template #editDeviceModel let-c="close" let-d="dismiss">
  <form (ngSubmit)="editDeviceDetail(editDeviceForm,selectedDevice.deviceid,editForm)" #editDeviceForm="ngForm"
    #editForm>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">編集</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-lg-6 col-md-12">
          <h6>SN<code>＊</code></h6>
          <input type="text" [(ngModel)]="selectedDevice.sn" name="sn" id="contact-phone"
            class="contact-phone form-control" placeholder="SN" readonly="readonly" maxlength="20">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>デバイス名</h6>
          <input type="text" [(ngModel)]="selectedDevice.devicename" name="devicename" class="form-control"
            placeholder="" maxlength="50">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>IMEI<code>＊</code></h6>
          <input type="text" [(ngModel)]="selectedDevice.imei" name="imei" class="contact-name form-control"
            placeholder="IMEI" maxlength="20" readonly="readonly">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>ICCID</h6>
          <input type="text" [(ngModel)]="selectedDevice.sim_iccid" name="sim_iccid" class="contact-email form-control"
            placeholder="SIMカードICCID" maxlength="20">
        </div>
        <!-- <div class="form-group col-lg-6 col-md-12">
          <h6>所有者</h6>
          <input type="text" [(ngModel)]="selectedDevice.companyname" name="companyid" class="form-control"
            placeholder="" readonly="readonly">
        </div> -->
        <div class="form-group col-lg-6 col-md-12">
          <h6>所有者<code>＊</code></h6>
          <ng-select [items]="underUsersSelectArray" [searchable]="true" bindLabel="userfullname" name="underUsers"
            [(ngModel)]="editUserSelected" #underUsersngname="ngModel" required>
          </ng-select>
          <div *ngIf="editDeviceForm.submitted && underUsersngname.invalid" class="invalid-feedback d-block">
            <div *ngIf="underUsersngname.errors.required">所有者を選択してください</div>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>プロダクト<code>＊</code></h6>
          <ng-select [items]="productSelectArray" name="product" bindLabel="productname" [searchable]="true"
            [(ngModel)]="editProductSelected" #productngname="ngModel" required>
          </ng-select>
          <div *ngIf="editDeviceForm.submitted && productngname.invalid" class="invalid-feedback d-block">
            <div *ngIf="productngname.errors.required">プロダクトを選択してください</div>
          </div>
          <!-- <ng-select [items]="productSelectArray" name="product" bindLabel="productname" bindValue="productid"
          [(ngModel)]="pageModel.deviceDetail.productid" required #productngname="ngModel" bindValue="productid"
          [ngClass]="{ 'is-invalid': registerDeviceForm.submitted && productngname.invalid }" required>
        </ng-select> -->
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>SIMカードIMSI</h6>
          <input type="text" [(ngModel)]="selectedDevice.sim_imsi" name="sim_imsi" class="form-control" placeholder=""
            maxlength="20" placeholder="SIMカードIMSI">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>SIMカード電話番号</h6>
          <input type="text" [(ngModel)]="selectedDevice.sim_tel" name="sim_tel" class="phone form-control"
            placeholder="ハイフンなしの10桁または11桁の半角数字" maxlength="11" appNumbersOnly>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>暗号化キー</h6>
          <input type="text" class="form-control" name="encryptedKey" placeholder=""
            [(ngModel)]="selectedDevice.encryptedkey">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>暗号化通信</h6>
          <!-- <ng-select [items]="sslSelectArray" [searchable]="true" bindLabel="item_text" placeholder="暗号化通信" name="ssl"
            [(ngModel)]="pageModel.deviceDetail.sslSelected">
          </ng-select> -->
          <div class="float-left">
            <ui-switch class="switchery" switchColor="white" color="rgb(55, 188, 155)" name="ssl"
              [(ngModel)]="selectedDevice.sslChecked"></ui-switch>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>接続サーバーアドレス</h6>
          <input type="text" class="form-control" name="connectserverurl" placeholder="" maxlength="50"
            [(ngModel)]="selectedDevice.connectserverurl">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>接続サーバーポート番号</h6>
          <input type="text" class="form-control" name="connectserverport" placeholder="" maxlength="4"
            [(ngModel)]="selectedDevice.connectserverport">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>バンディング済みフラグ</h6>
          <div class="float-left">
            <ui-switch class="switchery" switchColor="white" color="rgb(55, 188, 155)" name="bindingflag"
              [(ngModel)]="selectedDevice.bindingflagChecked"></ui-switch>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>ファームウェア・バージョン</h6>
          <input type="text" [(ngModel)]="selectedDevice.fmlastestversion" name="fmlastestversion" class="form-control"
            placeholder="" readonly="readonly">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>ファームウェア・バージョンの最新の確認時刻</h6>
          <input type="text" [(ngModel)]="selectedDevice.versioncomfirmtime" name="versioncomfirmtime"
            class="form-control" placeholder="" readonly="readonly">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="reset" class="btn btn-secondary cancel-btn mr-1" (click)="cancleModel(editDeviceForm)">
          <!-- <i class='ficon feather ft-x mr-25'></i> -->
          <span class="d-sm-inline d-none">取消</span>
        </button>
      </div>
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-device-item" class="btn btn-info add-contact-item"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">保存</span></button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #registerDeviceModal let-c="close" let-d="dismiss">
  <form (ngSubmit)="registerDeviceDetail(registerDeviceForm,registerForm)" #registerDeviceForm="ngForm" #registerForm>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">新規</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-lg-6 col-md-12">
          <h6>デバイス名</h6>
          <input type="text" [(ngModel)]="pageModel.deviceDetail.devicename" name="devicename" class="form-control"
            maxlength="50" placeholder="">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>SN<code>＊</code></h6>
          <input type="text" [(ngModel)]="pageModel.deviceDetail.sn" #snname="ngModel" name="sn" id="contact-phone"
            maxlength="20" class="contact-phone form-control" placeholder="SN"
            [ngClass]="{ 'is-invalid': registerDeviceForm.submitted && snname.invalid }" required>
          <div *ngIf="registerDeviceForm.submitted && snname.invalid" class="invalid-feedback">
            <div *ngIf="snname.errors.required">SNを入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>IMEI<code>＊</code></h6>
          <input type="text" [(ngModel)]="pageModel.deviceDetail.imei" name="imei" class="contact-name form-control"
            maxlength="20" placeholder="IMEI" #imeiname="ngModel"
            [ngClass]="{ 'is-invalid': registerDeviceForm.submitted && imeiname.invalid }" required>
          <div *ngIf="registerDeviceForm.submitted && imeiname.invalid" class="invalid-feedback">
            <div *ngIf="imeiname.errors.required">IMEIを入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>ICCID</h6>
          <input type="text" [(ngModel)]="pageModel.deviceDetail.sim_iccid" name="sim_iccid"
            class="contact-email form-control" maxlength="20" placeholder="SIMカードICCID">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>所有者<code>＊</code></h6>
          <ng-select [items]="underUsersSelectArray" [searchable]="true" bindLabel="userfullname" bindValue="userid"
            name="username" [(ngModel)]="pageModel.deviceDetail.userid" #underusersname="ngModel" required>
          </ng-select>
          <div *ngIf="registerDeviceForm.submitted && underusersname.invalid" class="invalid-feedback d-block">
            <div *ngIf="underusersname.errors.required">所有者を入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>プロダクト<code>＊</code></h6>
          <ng-select [items]="productSelectArray" name="product" bindLabel="productname" bindValue="productid"
            [(ngModel)]="pageModel.deviceDetail.productid" #productngname="ngModel"
            [ngClass]="{ 'is-invalid': registerDeviceForm.submitted && productngname.invalid }" required>
          </ng-select>
          <div *ngIf="registerDeviceForm.submitted && productngname.invalid" class="invalid-feedback d-block">
            <div *ngIf="productngname.errors.required">プロダクトを入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>SIMカードIMSI</h6>
          <input type="text" [(ngModel)]="pageModel.deviceDetail.sim_imsi" name="sim_imsi" class="form-control"
            maxlength="20" placeholder="SIMカードIMSI">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>SIMカード電話番号</h6>
          <input type="text" [(ngModel)]="pageModel.deviceDetail.sim_tel" name="simtel" class="phone form-control"
            placeholder="ハイフンなしの10桁または11桁の半角数字" maxlength="11" appNumbersOnly>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>暗号化キー</h6>
          <input type="text" class="form-control" name="encryptedKey" placeholder=""
            [(ngModel)]="pageModel.deviceDetail.encryptedkey">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>暗号化通信</h6>
          <!-- <ng-select [items]="sslSelectArray" [searchable]="true" bindLabel="item_text" placeholder="暗号化通信" name="ssl"
            [(ngModel)]="pageModel.deviceDetail.sslSelected">
          </ng-select> -->
          <div class="float-left">
            <ui-switch class="switchery" switchColor="white" color="rgb(55, 188, 155)" name="ssl"
              [(ngModel)]="pageModel.deviceDetail.sslChecked"></ui-switch>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>接続サーバーアドレス</h6>
          <input type="text" class="form-control" name="connectserverurl" placeholder="" maxlength="50"
            [(ngModel)]="pageModel.deviceDetail.connectserverurl">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>接続サーバーポート番号</h6>
          <input type="text" class="form-control" name="connectserverport" placeholder="" maxlength="4"
            [(ngModel)]="pageModel.deviceDetail.connectserverport">
        </div>
        <!-- <div class="form-group col-lg-6 col-md-12">
          <h6>バンディング済みフラグ</h6>
          <div class="float-left">
            <ui-switch class="switchery" switchColor="white" color="rgb(55, 188, 155)" name="bindingflag"
              [(ngModel)]="pageModel.deviceDetail.bindingflagChecked"></ui-switch>
          </div>
        </div> -->

      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="reset" class="btn btn-secondary cancel-btn mr-1" (click)="cancleModel(registerDeviceForm)">
          <!-- <i class='ficon feather ft-x mr-25'></i> -->
          <span class="d-sm-inline d-none">取消</span>
        </button>
      </div>
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="add-contact-item" class="btn btn-info add-contact-item"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">登録</span></button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #registerExcelModal let-c="close" let-d="dismiss">
  <form (ngSubmit)="registerDevices(addExeclForm,registerdevicesForm)" #addExeclForm="ngForm" #registerdevicesForm>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">一括登録</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <a class="feather ft-download info" (click)="downloadSampleFiles()" name="sampoo">サンプルファイルをダウンロード</a>
      </div>
      <div class="custom-file form-group col-12">
        <input type="file" class="custom-file-input" accept='contactImage/*' onclick="this.value = null"
          (change)="changeTarget($event)" id="customFile" name="selectFile">
        <label class="custom-file-label" name="selectFileLe">{{OpenFileName}}</label>
      </div>
    </div>
    <div class="table-responsive form-group col-12">
      <table id="list-table" class="table table-hover table-bordered" cellspacing="0" name="devicestable">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">プロジェクトID</th>
            <th scope="col">グループID</th>
            <th scope="col">デバイス名</th>
            <th scope="col">SN</th>
            <th scope="col">IMEI</th>
            <th scope="col">SIMカードICCID</th>
            <th scope="col">SIMカードIMSI</th>
            <th scope="col">SIMカード電話番号</th>
            <th scope="col">暗号化通信</th>
            <th scope="col">暗号化キー</th>
            <th scope="col">接続サーバアドレス</th>
            <th scope="col">接続サーバポート番号</th>
            <th scope="col">バンディング済みフラグ</th>
            <th scope="col">ファームウェア・最新バージョン</th>
            <th scope="col">ファームウェア・最新バージョン確認時刻</th>
            <th scope="col">プロダクトID</th>
            <th scope="col">会社ID</th>
            <th scope="col">ユーザーID</th>
            <th scope="col">元プロジェクトID</th>
            <th scope="col">元グループID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pageModel.addDeviceDetailList; let i = index;">
            <td data-label="no.">{{i + 1}}</td>
            <td data-label="projectid">{{item.projectid}}</td>
            <td data-label="groupId">{{item.groupid}}</td>
            <td data-label="deviceName">{{item.devicename}}</td>
            <td data-label="sn">{{item.sn}}</td>
            <td data-label="imei">{{item.imei}}</td>
            <td data-label="iccid">{{item.sim_iccid}}</td>
            <td data-label="sim_imsi">{{item.sim_imsi}}</td>
            <td data-label="sim_tel">{{item.sim_tel}}</td>
            <td data-label="encryptedCommunications">{{item.encryptedcommunications}}</td>
            <td data-label="encryptedKey">{{item.encryptedkey}}</td>
            <td data-label="connectServerURL">{{item.connectserverurl}}</td>
            <td data-label="connectServerPort">{{item.connectserverport}}</td>
            <td data-label="bindingFlag">{{item.bindingflag}}</td>
            <td data-label="fmLastestVersion">{{item.fmlastestversion}}</td>
            <td data-label="versionComfirmTime">{{item.versioncomfirmtime}}</td>
            <td data-label="productId">{{item.productid}}</td>
            <td data-label="companyId">{{item.companyid}}</td>
            <td data-label="userId">{{item.userid}}</td>
            <td data-label="lastProjectId">{{item.lastprojectId}}</td>
            <td data-label="lastGroupId">{{item.lastgroupid}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="reset" class="btn btn-secondary cancel-btn mr-1" (click)="cancleModel(addExeclForm)">
          <!-- <i class='ficon feather ft-x mr-25'></i> -->
          <span class="d-sm-inline d-none">取消</span>
        </button>
      </div>
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="add-contact-item" class="btn btn-info add-contact-item" name="deviceSubmit"><i
            class="la la-paper-plane-o d-lg-none"></i>
          <span class="d-none d-lg-block">一括登録</span></button>
      </div>
    </div>
  </form>
</ng-template>

<!-- <ng-template #selectGroupModal let-c="close" let-d="dismiss">
  <form (ngSubmit)="groupSelect(groupSelectForm)" #groupSelectForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">グループ選択</h5>
      <button type="button" name="groupSelect" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <label class="card-title" for="company">グループを選択してください。</label>
        <ng-select [items]="companySelectArray" [searchable]="true" bindLabel="companyname" placeholder="所有者"
          name="company" [(ngModel)]="pageModel.deviceDetail.companySelected">
        </ng-select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="reset" class="btn btn-secondary cancel-btn mr-1" (click)="cancleModel(addExeclForm)">
        <span class="d-sm-inline d-none">取消</span>
      </button>
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="add-contact-item" class="btn btn-info add-contact-item"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">保存</span></button>
      </div>
    </div>
  </form>
</ng-template> -->