<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-detached">
      <div class="content-body">
        <!-- <div class="content-overlay" id='content-overlay' (click)="contentOverlay($event)"></div> -->
        <!-- <div id="query-area">
            <p>
              <a class="btn btn-default" data-toggle="collapse" href="#query-collapse">
                条件検索▼
              </a>
            </p>
            <div id="query-collapse" class="collapse">
              <div class="well">
                <form>

                </form>
              </div>
            </div>
          </div> -->
        <section class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">識別コード</label>
                        <input type="text" class="form-control" id="" placeholder="IMEI/ICCID/SN">
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">プロダクト</label>
                        <ng-select [items]="singleSelectArray" [searchable]="true" bindLabel="item_text"
                          [(ngModel)]="singlebasicSelected">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">グループ</label>
                        <ng-select [items]="singleSelectArray" [searchable]="true" bindLabel="item_text"
                          [(ngModel)]="singlebasicSelected">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">所有者</label>
                        <ng-select [items]="singleSelectArray" [searchable]="true" bindLabel="item_text"
                          [(ngModel)]="singlebasicSelected">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">業界</label>
                        <ng-select [items]="singleSelectArray" [searchable]="true" bindLabel="item_text"
                          [(ngModel)]="singlebasicSelected">
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <div class="heading-elements mt-0 pull-right" style="padding-top:20px;">
                          <button class="btn btn-primary btn-sm gap_contact"
                            (click)="addTableDataModal(onSelectContact)">
                            <i class="d-md-none d-block feather ft-plus white"></i>
                            <span class="d-md-block d-none">検　索</span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <!-- Task List table -->
                  <div class="row">
                    <div class="col-sm-12">
                      <button class="btn btn-primary btn-sm gap_contact" (click)="addLargeModal(addModalContent)">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">新　規</span></button>
                      <button class="btn btn-primary btn-sm gap_contact" style="margin-left:5px"
                        (click)="addMaxModal(addExcelModalContent)">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">一括登録</span></button>
                      <button class="btn btn-primary btn-sm gap_contact" style="margin-left:5px"
                        (click)="addTableDataModal(addGroupModalContent)">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">グループ追加</span></button>
                      <button class="btn btn-danger btn-sm gap_contact" style="margin-left:5px"
                        (click)="deleteCheckedRow()">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">削　除</span></button>
                    </div>
                  </div>
                  <!-- [rows]="pageModel.deviceList" -->
                  <ngx-datatable #table class="bootstrap row contacts-table" [rows]="pageModel.deviceList"
                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="70" [limit]="5"
                    [selected]="selected" [selectionType]="'checkbox'" (select)='onSelectContact($event)' fxFlex="auto"
                    [perfectScrollbar]="config">
                    <ngx-datatable-column [flexGrow]="1" [minWidth]="30" [maxWidth]="50">
                      <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn">
                        <span class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="selectAll" [checked]="allRowsSelected"
                            (change)="selectFn(!allRowsSelected)" />
                          <label class="custom-control-label" for="selectAll"></label>
                        </span>
                      </ng-template>
                      <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                        let-onCheckboxChangeFn="onCheckboxChangeFn" let-isSelected="isSelected">
                        <div class="custom-control custom-checkbox _center">
                          <input type="checkbox" class="custom-control-input" id="select{{rowIndex}}"
                            [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                          <label class="custom-control-label" for="select{{rowIndex}}"></label>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="No." [flexGrow]="1" [minWidth]="40" [maxWidth]="50">
                      <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex">
                        {{rowIndex + 1}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="SN" [flexGrow]="1" [minWidth]="70" [maxWidth]="140">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.sn}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="IMEI" [flexGrow]="1" [minWidth]="130" [maxWidth]="180">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.imei}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="ICCID" [flexGrow]="1" [minWidth]="110" [maxWidth]="180">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.iccid}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="SIMICCID" [flexGrow]="1" [minWidth]="90" [maxWidth]="180"
                      [cellClass]="'my-custom-cell'">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.sim_iccid}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="状態" [flexGrow]="1" [minWidth]="70" [maxWidth]="100">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.sim_iccid}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="所有者" [flexGrow]="1" [minWidth]="70" [maxWidth]="100">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.companyid}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="操作" [flexGrow]="1" [minWidth]="50" [maxWidth]="100">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <!-- <a [routerLink]="" class="primary edit mr-1 mrless"
                          (click)="editTableDataModal(editTableDataModalContent, row)"><i class="la la-pencil"></i>
                        </a> -->
                        <a class="danger delete mr-1 mrless"><i class="la la-trash-o" (click)="deleteRow(row)"></i></a>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->

<!-- <ng-template #editTableDataModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="onUpdate(editForm,selectedContact.id)" #editForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Edit Contact</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <input type="text" [(ngModel)]="selectedContact.name" #editname="ngModel" name="name" id="name"
          class="name form-control" placeholder="Name"
          [ngClass]="{ 'is-invalid': editForm.submitted && editname.invalid }" required>
        <div *ngIf="editForm.submitted && editname.invalid" class="invalid-feedback">
          <div *ngIf="editname.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group col-12">
        <input type="text" [(ngModel)]="selectedContact.email" #editemail="ngModel" name="email" id="email"
          class="email form-control" placeholder="Email"
          [ngClass]="{ 'is-invalid':editForm.submitted && editemail.invalid }" required email>
        <div *ngIf="editForm.submitted && editemail.invalid" class="invalid-feedback">
          <div *ngIf="editemail.errors.required">Email is required</div>
          <div *ngIf="editemail.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group col-12">
        <input type="text" [(ngModel)]="selectedContact.phone" #editphone="ngModel" name="phone" id="phone"
          class="phone form-control" placeholder="Phone Number" (keyup)="onFormat()" maxlength="14">
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">Edit</span></button>
      </div>
    </div>
  </form>
</ng-template> -->

<ng-template #addModalContent let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">登録</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <h6>デバイス名</h6>
        <input type="text"  [(ngModel)]="pageModel.deviceDetail.devicename" name="devicename" class="form-control" placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>IMEI</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.imei" name="imei" 
          class="contact-name form-control" placeholder="IMEI">

      </div>
      <div class="form-group col-12">
        <h6>ICCID</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.iccid" name="iccid" 
          class="contact-email form-control" placeholder="ICCID">
      </div>
      <div class="form-group col-12">
        <h6>SN</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.sn" name="sn" 
          id="contact-phone" class="contact-phone form-control" placeholder="SN" maxlength="14">
      </div>
      <div class="form-group col-12">
        <h6>所有者</h6>
        <ng-select [items]="singleSelectArray" [searchable]="true" bindLabel="item_text" placeholder="所有者"
          [(ngModel)]="singlebasicSelected">
        </ng-select>
      </div>
      <div class="form-group col-12">
        <h6>暗号化通信</h6>
        <ng-select [searchable]="true" bindLabel="item_text" placeholder="暗号化通信" [(ngModel)]="singlebasicSelected" >
          <option value=0 selected>OFF</option>
          <option value=1>ON</option>
        </ng-select>
      </div>
      <div class="form-group col-12">
        <h6>暗号化キー</h6>
        <input type="text" class="form-control" name="devicename1" placeholder="空白の場合、サーバーで自動生成します">
      </div>
      <div class="form-group col-12">
        <h6>接続サーバーアドレス</h6>
        <input type="text" class="form-control" name="devicename2" placeholder="空白の場合、サーバーで自動生成します">
      </div>
      <div class="form-group col-12">
        <h6>接続サーバーポート番号</h6>
        <input type="text" class="form-control" name="devicename3" placeholder="空白の場合、サーバーで自動生成します">
      </div>
      <div class="form-group col-12">
        <h6>バンディング済みフラグ</h6>
        <input type="text" class="form-control" name="devicename4" placeholder="空白の場合、サーバーで自動生成します">
      </div>
      <div class="form-group col-12">
        <h6>プロダクト</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.productid" name="productid" class="form-control" placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>SIMカードIMSI</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.sim_imsi" name="simimsi" class="form-control" placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>SIMカード電話番号</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.sim_tel" name="simtel" class="form-control" placeholder="SIMカード電話番号">
      </div>
      <div class="form-group col-12">
        <h6>SIMカードICCID</h6>
        <input type="text" [(ngModel)]="pageModel.deviceDetail.sim_iccid" name="simiccid" class="form-control" placeholder="">
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="button" id="add-contact-item" (click)="insert()" class="btn btn-info add-contact-item"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">保存</span></button>
      </div>
    </div>
</ng-template>

<ng-template #addExcelModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="addNewContact(addForm)" #addForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">一括登録</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <i class="feather ft-download info" (click)="downloadSampleFiles()">サンプルファイルをダウンロード</i>
      </div>
      <div class="custom-file form-group col-12">
        <input type="file" class="custom-file-input" accept='contactImage/*' (change)="changeTarget($event)"
          id="customFile">
        <label class="custom-file-label">ファイルを選択</label>
      </div>
    </div>
    <div class="form-group col-12">
      <table id="list-table" class="table table-hover table-bordered" cellspacing="0">
        <thead>
          <tr>
            <th scope="col">no.</th>
            <th scope="col">deviceName</th>
            <th scope="col">productid</th>
            <th scope="col">imei</th>
            <th scope="col">iccid</th>
            <th scope="col">imsi</th>
            <th scope="col">uid</th>
            <th scope="col">secMode</th>
            <th scope="col">psk</th>
            <th scope="col">host</th>
            <th scope="col">port</th>
            <th scope="col">bind</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pageModel.addDeviceDetailList; let i = index;">
            <td data-label="no.">{{i + 1}}</td>
            <td data-label="imei">{{item.deviceName}}</td>
            <td data-label="imei">{{item.productid}}</td>
            <td data-label="imei">{{item.imei}}</td>
            <td data-label="iccid">{{item.iccid}}</td>
            <td data-label="imsi">{{item.imsi}}</td>
            <td data-label="uid">{{item.uid}}</td>
            <td data-label="secMode">{{item.securityMode}}</td>
            <td data-label="psk">{{item.psk}}</td>
            <td data-label="host">{{item.serverHost}}</td>
            <td data-label="port">{{item.serverPort}}</td>
            <td data-label="bind">{{item.isBind}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="add-contact-item" class="btn btn-info add-contact-item"><i
            class="la la-paper-plane-o d-lg-none"></i>
          <span class="d-none d-lg-block">一括登録</span></button>
      </div>
    </div>
  </form>
</ng-template> 
<ng-template #addGroupModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="addNewContact(addForm)" #addForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">グループ選択</h5>
      <button type="button" name="groupSelect" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <label class="card-title" for="countrySelect">グループを選択してください。</label>
        <ng-select [items]="singleSelectArray" [searchable]="true" bindLabel="item_text" placeholder="所有者"
          [(ngModel)]="singlebasicSelected">
        </ng-select>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="add-contact-item" class="btn btn-info add-contact-item"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">保存</span></button>
      </div>
    </div>
  </form>
</ng-template>