<!--BEGIN CONTENT-->
<div class="page-content" @bottom_flyIn>
  <div id="tab-general">
    <div id="sum_box" class="row mbl titleInfo">
      <div class="col-md-12 col-xs-12">
        <div class="panel panel-orange">
          <div class="panel-heading">
            プロダクト新規</div>
          <div class="panel-body pan">
            <div class="form-body pal">
              <div class="form-group" style="color: darkred;">基本情報</div>
              <div class="form-group">
                <div class="input-icon right">
                  <i class="fa fa-paper-plane"></i>
                  <input id="inputName" type="text" name="inputName" placeholder="プロダクト名"
                    [(ngModel)]="pageModel.product.productname" class="form-control" /></div>
              </div>
              <div class="form-group">
                <div class="input-icon right">
                  <i class="fa fa-paper-plane"></i>
                  <input id="inputName" type="text" name="inputName" placeholder="型番"
                    [(ngModel)]="pageModel.product.model" class="form-control" /></div>
              </div>
              <div class="form-group">
                <div class="input-icon right">
                  <i class="fa fa-paper-plane"></i>
                  <input id="inputName" type="text" name="inputName" placeholder="バージョン"
                    [(ngModel)]="pageModel.product.version" class="form-control" /></div>
              </div>
              <div class="form-group">SIMカード：
                <select [(ngModel)]="pageModel.product.simflag">
                  <!-- <option disabled="disabled" selected>選択してください</option> -->
                  <option [value]=0>不要</option>
                  <option [value]=1>必須</option>
                  <option [value]=2>オプション</option>
                </select>
              </div>
              <div class="form-group">
                <label for="inputMessage" class="control-label">
                  概要
                </label>
                <textarea rows="5" class="form-control" style="max-width: 100%;"
                  [(ngModel)]="pageModel.product.summary"></textarea>
              </div>
            </div>
            <a *ngIf="pageModel.insert_success">
              <div class="alert alert-success">
                <strong>成功!</strong> プロダクト登録成功.
              </div>
            </a>
            <a *ngIf="pageModel.insert_success">
              <div class="alert alert-success" *ngIf="!pageModel.insert_success">
                <strong>失敗!</strong> プロダクト登録失敗.
              </div>
            </a>
            <div class="form-body pal">
              <div class="form-actions text-center pal">
                <a class="btn btn-orange" (click)="insert()">プロダクト作成</a>
                <a class="btn btn-blue" [routerLink]="[ '../list' ]">戻る</a>
              </div>
            </div>
            <flash-messages></flash-messages>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END CONTENT-->