<!--BEGIN CONTENT-->
<div class="page-content" @bottom_flyIn>
  <div id="tab-general">
    <div id="sum_box" class="row mbl titleInfo">
      <div class="col-md-12 col-xs-12">
        <div class="panel panel-blue">
          <div class="panel-heading">
            プロダクト詳細</div>
          <div class="panel-body pan">
            <div class="form-body pal">
              <div class="form-group" style="color: darkred;">基本情報</div>
              <div class="input-group col-md-12 col-xs-12">
                <label for="inputMessage" class="control-label">
                  プロダクト名
                </label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="pageModel.product.productname"
                  readonly>
              </div>
              <br>
              <div class="input-group col-md-12 col-xs-12">
                <label for="inputMessage" class="control-label">
                  型番
                </label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="pageModel.product.model" readonly>
              </div>
              <br>
              <div class="input-group col-md-12 col-xs-12">
                <label for="inputMessage" class="control-label">
                  バージョン
                </label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="pageModel.product.version" readonly>
              </div>
              <br>
              <div class="form-group">SIMカード：
                <select [(ngModel)]="pageModel.product.simflag" disabled="disabled">
                  <option *ngIf="pageModel.product.simflag == 0" [value]=0>不要</option>
                  <option *ngIf="pageModel.product.simflag == 1" [value]=1>必須</option>
                  <option *ngIf="pageModel.product.simflag == 2" [value]=2>オプション</option>
                </select>
              </div>
              <br>
              <div class="input-group col-md-12 col-xs-12">
                <label for="inputMessage" class="control-label">
                  概要
                </label>
                <textarea rows="5" class="form-control" style="max-width: 100%;" [(ngModel)]="pageModel.product.summary"
                  readonly></textarea>
              </div>
              <br>
            </div>
            <div class="form-body pal">
              <div class="form-actions text-center pal">
                <a class="btn btn-blue" [routerLink]="[ '../list' ]">戻る</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END CONTENT-->