<!--BEGIN CONTENT-->
<div class="page-content" @bottom_flyIn>
  <div id="tab-general">
    <div id="sum_box" class="row mbl titleInfo">

      <div class="col-md-12 col-xs-12">
        <div class="panel panel-blue">
          <div class="panel-heading">
            プロダクト詳細</div>
          <div class="panel-body pan">

            <div class="form-body pal">
              <div class="form-group" style="color: darkred;">基本情報</div>

              <div class="input-group col-md-12 col-xs-12">
                <label for="inputMessage" class="control-label">
                  プロダクト名
                </label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="pageModel.product.productname"
                  readonly>
              </div>

              <br>

              <div class="input-group col-md-12 col-xs-12">
                <label for="inputMessage" class="control-label">
                  産業種類
                </label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="pageModel.product.industrytype"
                  readonly>
              </div>

              <br>

              <div class="input-group col-md-12 col-xs-12">
                <label for="inputMessage" class="control-label">
                  用途
                </label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="pageModel.product.application"
                  readonly>
              </div>

              <br>

              <div class="input-group col-md-12 col-xs-12">
                <label for="inputMessage" class="control-label">
                  所在地
                </label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="pageModel.product.location"
                  readonly>
              </div>

              <br>

              <div class="input-group col-md-12 col-xs-12">
                <label for="inputMessage" class="control-label">
                  概要
                </label>
                <textarea rows="5" class="form-control" style="max-width: 100%;" [(ngModel)]="pageModel.product.summary"
                  readonly></textarea>
              </div>

              <br>
            </div>
            <div class="form-body pal">
              <div class="form-group" style="color: darkred;">所属プロダクトのグループ</div>

              <div class="panel panel-org" style="background:#FFF;">
                <div class="panel-heading nodeTable">グループリスト<span
                    class="badge badge-yellow pull-right">{{pageModel.groups.length}}</span></div>
                <div class="panel-body">

                  <table class="table table-hover table-bordered" cellspacing="0">
                    <thead>
                      <tr>
                        <th scope="col">NO</th>
                        <th scope="col">グループID</th>
                        <th scope="col">グループ名</th>
                        <th scope="col">管理者</th>
                      </tr>
                    </thead>
                    <tbody class="scrollBody">
                      <tr style="cursor: pointer" *ngFor="let item of pageModel.groups;let i = index;">
                        <td data-label="NO" class="active">{{i+1}}</td>
                        <td data-label="グループID" class="active">{{item.groupid}}</td>
                        <td data-label="グループ名" class="active">{{item.groupidname}}</td>
                        <td data-label="管理者" class="active">{{item.makeruid}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <page [(pagination)]="pagination" *ngIf="pageModel.groups.length>0"> </page>
                </div>
              </div>
            </div>
            <div class="form-body pal">
              <div class="form-actions text-center pal">
                <a class="btn btn-blue" [routerLink]="[ '../list' ]">戻る</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!--END CONTENT-->

  <!--BEGIN MODAL CONFIG PORTLET-->
  <div id="addNode" class="modal fade">
    <div class="modal-dialog" style="width: 90%;margin-top: 15%;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
            &times;</button>
          <h4 class="modal-title">
            センサーノート追加</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-blue modalPanel" style="background:#FFF;">
            <div class="panel-heading">センサーノートリスト<span class="badge badge-info pull-right">5</span></div>
            <div class="panel-body">
              <table class="table table-hover table-bordered ">
                <thead>
                  <tr>
                    <th class="col-md-1" scope="col">選択</th>
                    <th class="col-md-1" scope="col">NO</th>
                    <th class="col-md-1" scope="col">登録者</th>
                    <th class="col-md-2" scope="col">自番号</th>
                    <th class="col-md-1" scope="col">表示名</th>
                    <th class="col-md-1" scope="col">用途</th>
                    <th class="col-md-1" scope="col">入れモジュール</th>
                    <th class="col-md-2" scope="col">ssid</th>
                    <th class="col-md-1" scope="col">通信間隔</th>
                    <th class="col-md-1" scope="col">登録先</th>
                    <th class="col-md-1" scope="col">登録時間</th>

                  </tr>
                </thead>
                <tbody>
                  <tr style="cursor: pointer">
                    <td data-label="選択" class="active">
                      <input type="checkbox" name="checkbox" style="cursor: pointer;" />
                    </td>
                    <td data-label="NO" class="active">1</td>
                    <td data-label="登録者" class="active">agri</td>
                    <td data-label="自番号" class="active">traker-ty-0001</td>
                    <td data-label="表示名" class="active">トラッカー　-1</td>
                    <td data-label="用途" class="active">追跡</td>
                    <td data-label="入れモジュール" class="active">GPS</td>
                    <td data-label="ssid" class="active">a349fjbot0e11d0fid-01020304043</td>
                    <td data-label="通信間隔" class="active">一日二回</td>
                    <td data-label="追加先" class="active">QRCode</td>
                    <td data-label="追加時間" class="active">2019/01/02</td>
                  </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">
            取 消</button>
          <button type="button" class="btn btn-primary">
            選 択</button>
        </div>
      </div>
    </div>
  </div>
  <!--END MODAL CONFIG PORTLET-->


  <!--BEGIN MODAL CONFIG PORTLET-->
  <div id="addUser" class="modal fade">
    <div class="modal-dialog" style="width: 90%;margin-top: 15%;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" aria-hidden="true" class="close">
            &times;</button>
          <h4 class="modal-title">
            ユーザー追加</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-blue modalPanel" style="background:#FFF;">
            <div class="panel-heading">ユーザーリスト<span class="badge badge-info pull-right">5</span></div>
            <div class="panel-body">
              <table class="table table-hover table-bordered ">
                <thead>
                  <tr>
                    <th class="col-md-1" scope="col">選択</th>
                    <th class="col-md-1" scope="col">NO</th>
                    <th class="col-md-1" scope="col">ユーザー名</th>
                    <th class="col-md-1" scope="col">ユーザーID</th>
                    <th class="col-md-8" scope="col">プロダクト</th>

                  </tr>
                </thead>
                <tbody>
                  <tr style="cursor: pointer">
                    <td data-label="選択" class="active">
                      <input type="checkbox" name="checkbox" style="cursor: pointer;" />
                    </td>
                    <td data-label="NO" class="active">1</td>
                    <td data-label="ユーザー名" class="active">agri</td>
                    <td data-label="ユーザーID" class="active">traker-ty-0001</td>
                    <td data-label="プロダクト" class="active ">
                      <span class="badge badge-danger">トラッカー重機</span>
                      <span class="badge badge-danger">千葉農園</span>
                    </td>
                  </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default">
            取 消</button>
          <button type="button" class="btn btn-primary">
            選 択</button>
        </div>
      </div>
    </div>
  </div>
  <!--END MODAL CONFIG PORTLET-->