<!--BEGIN CONTENT-->
<div class="page-content" @bottom_flyIn>
  <div id="tab-general">
    <div id="sum_box" class="row mbl titleInfo">
      <div class="col-md-12 col-xs-12">
        <div class="panel panel-orange">
          <div class="panel-heading">
            プロダクト修正</div>
          <div class="panel-body pan">
            <div class="form-body pal">
              <div class="form-group" style="color: darkred;">基本情報</div>
              <div class="input-group col-md-12 col-xs-12">
                <label for="inputMessage" class="control-label">
                  プロダクト名
                </label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="pageModel.product.productname">
              </div>
              <br>
              <div class="input-group col-md-12 col-xs-12">
                <label for="inputMessage" class="control-label">
                  型番
                </label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="pageModel.product.model">
              </div>
              <br>
              <div class="input-group col-md-12 col-xs-12">
                <label for="inputMessage" class="control-label">
                  バージョン
                </label>
                <input type="text" class="form-control" placeholder="" [(ngModel)]="pageModel.product.version">
              </div>
              <br>
              <div class="form-group">SIMカード：
                <select [(ngModel)]="pageModel.product.simflag">
                  <option [value]=0>不要</option>
                  <option [value]=1>必須</option>
                  <option [value]=2>オプション</option>
                </select>
              </div>
              <br>
              <div class="input-group col-md-12 col-xs-12">
                <label for="inputMessage" class="control-label">
                  概要
                </label>
                <textarea rows="5" class="form-control" style="max-width: 100%;" [(ngModel)]="pageModel.product.summary"></textarea>
              </div>
              <br>
            </div>
            <a *ngIf="pageModel.update_success">
              <div class="alert alert-success">
                <strong>成功!</strong> プロダクト更新成功.
              </div>
            </a>
            <a *ngIf="pageModel.update_success === false">
              <div class="alert alert-failure">
                <strong>失敗!</strong> プロダクト更新失敗.
              </div>
            </a>
            <div class="form-body pal">
              <div class="form-actions text-center pal">
                <a class="btn btn-orange" (click)="updateProduct()">プロダクト更新</a>
                <a class="btn btn-blue" [routerLink]="[ '../list' ]">戻る</a>
              </div>
            </div>
            <flash-messages></flash-messages>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END CONTENT-->