<div class="app-content content">
    <div class="content-wrapper">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{page.title}}</h4>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li>
                            <a class="btn btn-sm btn-danger box-shadow-2 round btn-min-width pull-right font-color-white"
                            (click)="addPageSlideIn($event)">＋　プロジェクト追加</a>
                        </li>
                    </ul> 
                </div>
            </div>
            <div class="card-content mt-1">
                <div class="table-responsive" fxFlex="auto">
                    <table class="table border_bottom table-hover">
                        <thead>
                            <tr>
                                <th scope="col" class="border-top-0">プロジェクト名</th>
                                <th scope="col" class="border-top-0">プロダクト</th>
                                <th scope="col" class="border-top-0">プロジェクト詳細</th>
                                <th scope="col" class="border-top-0">デバイスグループ数</th>
                                <th scope="col" class="border-top-0">デバイス数</th>
                                <th scope="col" class="border-top-0">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of rows">
                                <td class="text-truncate">
                                    <span *ngIf="editingItem.projectid == null || row.projectid != editingItem.projectid" >{{row.projectname}}</span>
                                    <input *ngIf="editingItem.projectid != undefined && row.projectid == editingItem.projectid" type="text" [(ngModel)]="editingItem.projectname" [ngModelOptions]="{standalone: true}"
                                     [value]="editingItem.projectname"/> 
                                </td>
                                <td class="text-truncate">
                                    <span *ngIf="editingItem.projectid == null || row.projectid != editingItem.projectid" >{{row.productid}}</span>
                                    <!-- {{row.productid | productName}} -->
                                </td>
                                <td class="text-truncate">
                                    <span *ngIf="editingItem.projectid == null || row.projectid != editingItem.projectid" >{{row.projectsummary}}</span>
                                    <textarea *ngIf="row.projectid == editingItem.projectid" type="text"
                                        [(ngModel)]="editingItem.projectsummary" [ngModelOptions]="{standalone: true}"></textarea>
                                </td>
                                <td class="text-truncate">
                                    {{row.groupCounts}}
                                </td>
                                <td class="text-truncate">
                                    {{row.deviceCounts}}
                                </td>
                                <td>
                                    <a *ngIf="editingItem.projectid == null || row.projectid != editingItem.projectid" 
                                    [routerLink]="" class="primary edit mr-1 mrless" (click)="setEditingItem(row)"><i
                                            class="la la-pencil"></i>
                                    </a>
                                    <a *ngIf="editingItem.projectid == row.projectid" class="btn btn-primary" (click)="update()">確定</a>
                                    <a *ngIf="editingItem.projectid == row.projectid" class="btn btn-primary" (click)="cancelEdit()">取消</a>
                                    <a *ngIf="editingItem.projectid == null || row.projectid != editingItem.projectid" 
                                        class="danger delete mr-1 mrless"><i class="la la-trash-o" (click)="deleteItem(row.projectid)"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- new project sidebar -->
    <div class="slide right-slide" id="new-project-sidebar" fxFlex="auto">
    </div>
</div>


