<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row mb-1"></div>
        <div class="content-detached">
            <div class="content-body">
                <!------- メイン ---------->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <!------- ボタン ---------->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary btn-sm gap_contact"
                                                (click)="openNewModal()">
                                            <i class="d-md-none d-block feather ft-plus white"></i>
                                            <span class="d-md-block d-none">新　規</span>
                                        </button>
                                        <button class="btn btn-primary btn-sm gap_contact" style="margin-left:5px"
                                                (click)="openExcelModal()">
                                            <i class="d-md-none d-block feather ft-plus white"></i>
                                            <span class="d-md-block d-none">一括登録</span>
                                        </button>
                                        <button class="btn btn-danger btn-sm gap_contact" style="margin-left:5px">
                                            <i class="d-md-none d-block feather ft-plus white"></i>
                                            <span class="d-md-block d-none">削　除</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!------- テーブル ---------->
                            <!-- data-type="custom" -->
                            <!-- サンプル-->
                            <!-- [columnCustoms]="[-->
                            <!--   {column: 'opt', edit: true, delete: false},-->
                            <!--   {column: 'opt', edit: false, delete: true}]"-->

                            <!-- data-type="switch" -->

                            <!-- data-type="supper" -->
                            <!-- サンプル-->
                            <!-- [columnSuppers]="[{column: 'spr',-->
                            <!--                    class: 'primary edit mr-1 mrless la la-plus-square',-->
                            <!--                    title: 'タイトル',-->
                            <!--                    text: 'テスト',-->
                            <!--                    onClicked: {event: onTest, option: 'パラメータテスト'}}]-->
                            <app-if-table [list]="cardInfos" [pageable]="true" [checkable]="true"
                                          (deleteRowEvent)="onDeleteRow($event)"
                                          (editRowEvent)="onEditRow($event)"
                                          [columnCustoms]="[
                                          {column: 'opt', edit: true, delete: true}]"
                                          [columnSuppers]="[{column: 'spr',
                                                             class: 'primary info mr-1 d-inline-block',
                                                             title: 'タイトル',
                                                             text: 'テスト',
                                                             onClicked: {event: onTest, option: 'パラメータテスト'}}]">
                                <ul class="header">
                                    <li data-col="no" data-text="番号"></li>
                                    <li data-col="opt" data-text="操作" data-type="custom"></li>
                                    <li data-col="spr" data-text="supper" data-type="supper"></li>
                                    <li data-col="ukeirebi" data-text="受入日"></li>
                                    <li data-col="kubun" data-text="区分"></li>
                                    <li data-col="imei" data-text="IMEI"></li>
                                    <li data-col="kanribango" data-text="管理番号"></li>
                                    <li data-col="tenwabango" data-text="電話番号"></li>
                                    <li data-col="hakkotanto" data-text="発行担当"></li>
                                    <li data-col="hakkobi" data-text="発行日"></li>
                                    <li data-col="hakkosaki" data-text="発行先"></li>
                                    <li data-col="hakkosakitantosha" data-text="発行先担当者"></li>
                                    <li data-col="renrakusen" data-text="連絡先"></li>
                                    <li data-col="riyokaishibi" data-text="利用開始日"></li>
                                </ul>
                            </app-if-table>
                            <!-------------------------->

                        </div>
                        <!-- card -->
                    </div>
                </div>
                <!-- row -->
                <!------- メイン ---------->
            </div>
            <!-- content-body -->
        </div>
    </div>
</div>

<!--トースト-->
<p-toast position="top-right" key="alertModal" baseZIndex="999"></p-toast>
<!--確認ダイアログ-->
<p-confirmDialog
        [baseZIndex]="10000"
        rejectButtonStyleClass="p-button-secondary"
        icon="pi pi-exclamation-triangle"
        acceptLabel="確認"
        rejectLabel="取消">
</p-confirmDialog>

<!--新規ダイアログ-->
<app-if-modal [modalId]="'modalA'"
              [title]="'新規'"
              [cancelBtnText]="'取消'"
              [okBtnText]="'登録'"
              (okClick)="onAddDialogOKClick($event)"
              (cancelClicked)="onAddDialogCloseClick()">
    <div class="modalBody">

        <div class="row">
            <div class="form-group col-lg-6 col-md-12">
                <app-if-date name="ukeirebi" label="受入日" required="true"
                             [(ngModel)]="pageModel.simCard.ukeirebi"></app-if-date>
            </div>
            <div class="form-group col-lg-6 col-md-12">
                <app-if-select name="kubun" label="区分" placeholder="" required="true"
                               [list]="[{key: 'Tracker', val: '1'},{key: 'SimCard', val: '2'}]"
                               bindLabel="key" bindValue="val" (ngModelChange)="onSelValueChange($event)"
                               [(ngModel)]="pageModel.simCard.kubun" maxlength="10"></app-if-select>
            </div>
            <div class="form-group col-lg-6 col-md-12">
                <app-if-input name="imei" label="IMEI" id="imei" placeholder="" class="info" required="true"
                              [(ngModel)]="pageModel.simCard.imei"
                              maxlength="20" (ngModelChange)="onTextValueChange($event)"></app-if-input>
            </div>
            <div class="form-group col-lg-6 col-md-12">
                <app-if-input name="kanribango" label="管理番号" placeholder="" required="true"
                              [(ngModel)]="pageModel.simCard.kanribango" maxlength="15"></app-if-input>
            </div>
            <div class="form-group col-lg-6 col-md-12">
                <app-if-date name="hakkobi" label="発行日" [(ngModel)]="pageModel.simCard.hakkobi"></app-if-date>
            </div>
            <div class="form-group col-lg-6 col-md-12">
                <app-if-date name="riyokaishibi" label="利用開始日"
                             [(ngModel)]="pageModel.simCard.riyokaishibi"></app-if-date>
            </div>
            <div class="form-group col-lg-6 col-md-12">
                <app-if-input name="tenwabango" label="電話番号" placeholder="" [(ngModel)]="pageModel.simCard.tenwabango"
                              maxlength="11"></app-if-input>
            </div>
            <div class="form-group col-lg-6 col-md-12">
                <app-if-input name="hakkotanto" label="発行担当" placeholder="" [(ngModel)]="pageModel.simCard.hakkotanto"
                              maxlength="20"></app-if-input>
            </div>
            <div class="form-group col-lg-6 col-md-12">
                <app-if-input name="hakkosaki" label="発行先" placeholder="" [(ngModel)]="pageModel.simCard.hakkosaki"
                              maxlength="200"></app-if-input>
            </div>
            <div class="form-group col-lg-6 col-md-12">
                <app-if-input name="hakkosakitantosha" label="発行先担当者" placeholder=""
                              [(ngModel)]="pageModel.simCard.hakkosakitantosha" maxlength="20"></app-if-input>
            </div>
            <div class="form-group col-lg-6 col-md-12">
                <app-if-input name="renrakusen" label="連絡先" placeholder="" [(ngModel)]="pageModel.simCard.renrakusen"
                              maxlength="20"></app-if-input>
            </div>
            <div class="form-group col-lg-6 col-md-12">
                <app-if-textarea name="riyomokuteki" label="利用目的" placeholder="" class="info"
                                 [(ngModel)]="pageModel.simCard.riyomokuteki" maxlength="400"></app-if-textarea>
            </div>
            <div class="form-group col-lg-6 col-md-12">
                <app-if-textarea name="riyomokuteki" label="案件概要" placeholder=""
                                 [(ngModel)]="pageModel.simCard.gaiyo" maxlength="400"></app-if-textarea>
            </div>
            <div class="form-group col-lg-6 col-md-12">
                <app-if-textarea name="riyomokuteki" label="備考" placeholder=""
                                 [(ngModel)]="pageModel.simCard.biko" maxlength="400"></app-if-textarea>
            </div>


            <!-- ------------------------------------------------------------ -->

            <!-- ------------------------------------------------------------ -->


        </div>

    </div>
</app-if-modal>

<!--一括登録ダイアログ-->
<app-if-modal [modalId]="'modalB'"
              [title]="'一括登録'"
              [cancelBtnText]="'取消'"
              [okBtnText]="'登録'"
              (okClick)="onExcelDialogOKClick($event)">
    <div class="modalBody">
        <h5>Check First Paragraph</h5>
        <p>Oat cake ice cream candy chocolate cake chocolate cake cotton candy dragée apple
            pie.
            Brownie carrot
            cake candy canes bonbon fruitcake topping halvah. Cake sweet roll cake cheesecake
            cookie
            chocolate cake
            liquorice. Apple pie sugar plum powder donut soufflé.</p>
        <p>Sweet roll biscuit donut cake gingerbread. Chocolate cupcake chocolate bar ice
            cream.
            Danish candy
            cake.</p>
        <hr>
        <h5>Some More Text</h5>
        <p>Cupcake sugar plum dessert tart powder chocolate fruitcake jelly. Tootsie roll
            bonbon
            toffee danish.
            Biscuit sweet cake gummies danish. Tootsie roll cotton candy tiramisu lollipop
            candy
            cookie biscuit pie.</p>
    </div>
</app-if-modal>