<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1 ml-1"><h4>エラー管理</h4></div>
    <div class=""> 
      <div class="content-body">
        <section class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <!-- Task List table -->

                  <div class="table-responsive">
                    <table class="table table-hover table-xl mb-0 order-tbl_change">
                      <thead>
                        <tr>
                          <th class="col" class="thcolor">No</th>
                          <th class="col" class="thcolor" (click)="sortData('errcode')">エラーコード</th>
                          <th class="col" class="thcolor" (click)="sortData('device')">デバイスID</th>
                          <th class="col" class="thcolor">管理者</th>
                          <th class="col" class="thcolor">発生日時</th>
                          <th class="col" class="thcolor">対応ステータス</th>
                          <th class="col" class="thcolor">対応履歴</th>
                          <th class="col" class="thcolor">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of PaginationData;let i = index;">
                          <td>{{i+1}}</td>
                          <td>{{item.errcode}}</td>
                          <td>{{item.device}}</td>
                          <td>{{item.userid}}</td>
                          <td>{{item.datatime | date:'yyyy/MM/dd hh:mm:ss'}}</td>
                          <td>{{item.statusInStr}}</td>
                          <td>
                            <a class="primary edit mr-1 mrless" (click)="viewErrProcessingHistoryModal(errProcessHistoryModalContent, item)"><i class="la la-calendar-check-o"></i></a>
                          </td>
                          <td>
                            <a class="primary edit mr-1 mrless" (click)="processErrDataModal(processErrDataModalContent, item)"><i class="la la-pencil"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                      </ngb-pagination>
                      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="20">20 items per page</option>
                        <option [ngValue]="50">50 items per page</option>
                        <option [ngValue]="100">100 items per page</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    
  </div>
</div>

<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- エラー処理 -->
<ng-template #processErrDataModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="processErrDataUpdate(processErrDataUpdateForm,selectedErrorItem)" #processErrDataUpdateForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">エラー対応</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group col-12">
        <label >対応メモ<code>＊</code></label>
        <textarea id="contents" rows="4" class="form-control square" name="contents"
          [(ngModel)]="selectedErrorItem.contents" maxlength="100"></textarea>
      </div>

      <div class="form-group col-12">
        <label >対応状態</label>
        <select class="form-control" id="productName" name="productName" [(ngModel)]="selectedErrorItem.doneFlag" #productname="ngModel" name="producttypeid" id="producttypeid">
          <option value = 0>対応中</option>
          <option value = 1>対応済み</option>
        </select>
      </div>
      
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">保存</span></button>
      </div>
    </div>
  </form>
</ng-template>


<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- エラー処理履歴 -->
<ng-template #errProcessHistoryModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="closeErrProcessingHistoryModal(errProcessHistory,selectedErrorItem)" #errProcessHistory="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">エラー対応履歴</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <div class="table-responsive">
        <table class="table grid-breakpoints ">
          <thead>
            <tr>
              <th scope="col" class="thcolor">No.</th>
              <th scope="col" class="thcolor">対応時間</th>
              <th scope="col" class="thcolor">対応前状態</th>
              <th scope="col" class="thcolor">対応後状態</th>
              <th scope="col" class="thcolor">メモ</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of errResumeList;let i = index">
              <td>{{i+1}}</td>
              <td>{{element.i_time | date:'yyyy/MM/dd hh:mm:ss'}}</td>
              <td>{{ element.statusflagbefore}}</td>
              <td>{{ element.statusflagafter }}</td>
              <td>{{ element.contents}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">確認</span></button>
      </div>
    </div>
  </form>
</ng-template>