<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1 ml-1"><h4>エラー管理</h4></div>
    <div class=""> 
      <div class="content-body">
        <div class="content-overlay" id='content-overlay' (click)="contentOverlay($event)"></div>
        <section class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-head">
                <div class="card-header">
                  <h4 class="card-title">プロダクト一覧</h4>
                  
                </div>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <!-- Task List table -->
                  
                  <ngx-datatable #table class="bootstrap row contacts-table" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="70" [limit]="5" [selected]="selected" [selectionType]="'checkbox'"
                    (select)='onSelectContact($event)' fxFlex="auto" [perfectScrollbar]="config">

                    <ngx-datatable-column name="NO." [flexGrow]="1" [minWidth]="140">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.name}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="エラーコード" [flexGrow]="1" [minWidth]="140">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.name}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="デバイスID" [flexGrow]="1" [minWidth]="140">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.name}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="管理者" [flexGrow]="1" [minWidth]="140">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.name}}
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="発生日時" [flexGrow]="1" [minWidth]="90" [cellClass]="'my-custom-cell'">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.name}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="対応ステータス" [flexGrow]="1" [minWidth]="90" [cellClass]="'my-custom-cell'">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.name}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="操作" [flexGrow]="1" [minWidth]="100">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <a [routerLink]="" class="primary edit mr-1 mrless"
                          (click)="editTableDataModal(editTableDataModalContent, row)"><i class="la la-pencil"></i>
                        </a>
                        <a class="danger delete mr-1 mrless"><i class="la la-trash-o" (click)="deleteRow(row)"></i></a>
                        
                      </ng-template>

                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->

<ng-template #editTableDataModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="onUpdate(editForm,selectedContact.id)" #editForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Edit Contact</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <input type="text" [(ngModel)]="selectedContact.name" #editname="ngModel" name="name" id="name"
          class="name form-control" placeholder="Name"
          [ngClass]="{ 'is-invalid': editForm.submitted && editname.invalid }" required>
        <div *ngIf="editForm.submitted && editname.invalid" class="invalid-feedback">
          <div *ngIf="editname.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group col-12">
        <input type="text" [(ngModel)]="selectedContact.email" #editemail="ngModel" name="email" id="email"
          class="email form-control" placeholder="Email"
          [ngClass]="{ 'is-invalid':editForm.submitted && editemail.invalid }" required email>
        <div *ngIf="editForm.submitted && editemail.invalid" class="invalid-feedback">
          <div *ngIf="editemail.errors.required">Email is required</div>
          <div *ngIf="editemail.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group col-12">
        <input type="text" [(ngModel)]="selectedContact.phone" #editphone="ngModel" name="phone" id="phone"
          class="phone form-control" placeholder="Phone Number" (keyup)="onFormat()" maxlength="14">
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">Edit</span></button>
      </div>
    </div>
  </form>
</ng-template>


