<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1 ml-1">
      <!-- <h4>プロジェクト管理</h4> -->
    </div>
    <div class="">
      <div class="content-body">
        <div>
          <label for="switch">条件検索：</label>
          <input id="switch" name="switch" type="checkbox" [(ngModel)]="show" />
        </div>

        <section class="row" *ngIf="show">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">プロダクト名</label>
                        <input type="text" class="form-control" id="" placeholder=""
                          [(ngModel)]="searchValue.productname">
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">バージョン名</label>
                        <input type="text" class="form-control" id="" placeholder=""
                          [(ngModel)]="searchValue.versionname">
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group justify-content-center">
                        <div class="heading-elements mt-0 pull-right" style="padding-top:20px;">
                          <button class="btn btn-primary btn-sm gap_contact" (click)="searchProject()">
                            <i class="d-md-none d-block feather ft-plus white"></i>
                            <span class="d-md-block d-none">検　索</span></button>
                            <!-- クリアボタン -->
                          <!-- <button class="btn btn-warning btn-sm gap_contact" (click)="clearSearchProject()">
                              <i class="d-md-none d-block feather ft-plus white"></i>
                              <span class="d-md-block d-none">クリア</span></button> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <!-- Task List table -->
                  <div class="row mb-3">
                    <div class="col-sm-12">
                      <button class="btn btn-primary btn-sm gap_contact"
                        (click)="addNewVersionModal(addNewVersion)">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">新　規</span></button>
                      <button class="btn btn-danger btn-sm gap_contact" style="margin-left:5px"
                        (click)="deleteCheckedRow()">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">一括削除</span></button>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table grid-breakpoints ">
                      <thead>
                        <tr>
                          <th scope="col" class="thcolor"><input type="checkbox"  (change)="checkAll($event)">
                          </th>
                          <th scope="col" class="thcolor">No.</th>
                          <th scope="col" class="thcolor" (click)="sortData('productname')">プロダクト名
                            <i *ngIf="valueSortFlg.productNameUp" class="la la-sort-up"></i>
                            <i *ngIf="valueSortFlg.productNameDown" class="la la-sort-down"></i>
                          </th>
                          <th scope="col" class="thcolor" (click)="sortData('versioncode')">バージョンコード
                            <i *ngIf="valueSortFlg.versionCodeUp" class="la la-sort-up"></i>
                            <i *ngIf="valueSortFlg.versionCodeDown" class="la la-sort-down"></i>
                          </th>
                          <th scope="col" class="thcolor" (click)="sortData('versionname')">バージョン名
                            <i *ngIf="valueSortFlg.versionNameUp" class="la la-sort-up"></i>
                            <i *ngIf="valueSortFlg.versionNameDown" class="la la-sort-down"></i>
                          </th>
                          <th scope="col" class="thcolor">詳細</th>
                          <th scope="col" class="thcolor">DownLoad</th>
                          <th scope="col" class="thcolor">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let element of PaginationData;let i = index">
                          <td>
                            <input type="checkbox" [checked]="element.isSelected"
                              (change)="checkChange($event,element)">
                          </td>
                          <td>{{(page-1)*pageSize+i+1}}</td>
                          <td>{{ element.productname }}</td>
                          <td>{{ element.versioncode }}</td>
                          <td>{{ element.versionname }}</td>
                          <td>{{ element.description}}</td>
                          <td>{{ element.downloadurl}}</td>
                          
                          <td>
                            <a class="primary edit mr-1"
                              (click)="editVersionDataModal(editVersionDataModalContent, element)"><i
                                class="la la-pencil"></i>
                            </a>
                            <a class="danger delete mr-1"><i class="la la-trash-o" (click)="deleteRow(element)"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                      </ngb-pagination>
                      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="20">20 items per page</option>
                        <option [ngValue]="50">50 items per page</option>
                        <option [ngValue]="100">100 items per page</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- バージョン詳細と修正 -->
<ng-template #editVersionDataModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="versionDataUpdate(versionEditForm,selectedVersion.rowid)" #versionEditForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">バージョン詳細</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-lg-6 col-md-12">
          <label>プロダクト名<code>＊</code></label>
              <select class="form-control" id="productname" name="productname" [(ngModel)]="selectedVersion.productid" #porductname="ngModel" [ngClass]="{ 'is-invalid': versionEditForm.submitted && porductname.invalid }" required disabled maxlength="50">
              <option *ngFor="let type of productNameList; let i = index" [ngValue]="type.productid">
              {{type.productname}}
              </option>
          </select>
          <div *ngIf="versionEditForm.submitted && porductname.invalid" class="invalid-feedback">
            <div *ngIf="porductname.errors.required">プロダクト名を選択してください。</div>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <label>バージョンコード<code>＊</code></label>
          <input type="text" [(ngModel)]="selectedVersion.versioncode" #versionCode="ngModel" name="versionCode"
          id="versionCode" class="form-control" [ngClass]="{ 'is-invalid': versionEditForm.submitted && versionCode.invalid }" required maxlength="50">
          <div *ngIf="versionEditForm.submitted && versionCode.invalid" class="invalid-feedback">
              <div *ngIf="versionCode.errors.required">バージョンコードを入力してください。</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-6 col-md-12">
          <h6>バージョン名<code>＊</code></h6>
          <input type="text" [(ngModel)]="selectedVersion.versionname" #versionName="ngModel" name="versionName"
          id="versionName" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': versionEditForm.submitted && versionName.invalid }" required maxlength="50">
          <div *ngIf="versionEditForm.submitted && versionName.invalid" class="invalid-feedback">
              <div *ngIf="versionName.errors.required">バージョン名を入力してください。</div>
          </div>
        </div>
  
        <div class="form-group col-lg-6 col-md-12">
          <h6>downloadUrl</h6>
          <input type="text" [(ngModel)]="selectedVersion.downloadurl" #downloadUrl="ngModel" name="downloadUrl" id="downloadUrl" class="form-control" placeholder=""  maxlength="300">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12">
          <label>詳細</label>
          <textarea id="description" rows="3" class="form-control square" name="description"#description="ngModel" [(ngModel)]="selectedVersion.description" placeholder="詳細" maxlength="500"></textarea>
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="button" class="btn btn-secondary mr-1" (click)="d('Close modal')" ngbAutofocus>取消</button>
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">保存</span></button>
      </div>
    </div>
  </form>
</ng-template>


<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- バージョン新規追加 -->
<ng-template #addNewVersion let-c="close" let-d="dismiss">
  <form (ngSubmit)="addNewVersionForm(NewVersionForm)" #NewVersionForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">バージョン新規追加</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-lg-6 col-md-12">
          <h6>プロダクト名 <code>＊</code></h6>
          <select class="form-control" id="productName" name="productName" [(ngModel)]="addVersion.productid"
            #porductname="ngModel" name="porductname" id="porductname" [ngClass]="{ 'is-invalid': NewVersionForm.submitted && porductname.invalid }" required maxlength="50">
            <option *ngFor="let type of productNameList; let i = index" [ngValue]="type.productid">
              {{type.productname}}
            </option>
          </select>
          <div *ngIf="NewVersionForm.submitted && porductname.invalid" class="invalid-feedback">
            <div *ngIf="porductname.errors.required">プロダクト名を選択してください。</div>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>バージョンコード<code>＊</code></h6>
          <input type="text" [(ngModel)]="addVersion.versioncode" #versionCode="ngModel" name="versionCode"
          id="versionCode" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': NewVersionForm.submitted && versionCode.invalid }" required maxlength="50">
          <div *ngIf="NewVersionForm.submitted && versionCode.invalid" class="invalid-feedback">
              <div *ngIf="versionCode.errors.required">バージョンコードを入力してください。</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-6 col-md-12">
          <h6>バージョン名<code>＊</code></h6>
          <input type="text" [(ngModel)]="addVersion.versionname" #versionName="ngModel" name="versionName"
          id="versionName" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': NewVersionForm.submitted && versionName.invalid }" required maxlength="50">
          <div *ngIf="NewVersionForm.submitted && versionName.invalid" class="invalid-feedback">
              <div *ngIf="versionName.errors.required">バージョン名を入力してください。</div>
          </div>
        </div>
  
        <div class="form-group col-lg-6 col-md-12">
          <h6>downloadUrl</h6>
          <input type="text" [(ngModel)]="addVersion.downloadurl" #downloadUrl="ngModel" name="downloadUrl"
          id="downloadUrl" class="form-control" placeholder="" maxlength="300">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12">
          <h6>バージョン詳細</h6>
          <textarea id="description" rows="4" class="form-control square" name="description" #description="ngModel" [(ngModel)]="addVersion.description" placeholder="詳細" maxlength="500" ></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="button" class="btn btn-secondary mr-1" (click)="d('Close modal')" ngbAutofocus>取消</button>
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">登録</span></button>
      </div>
    </div>
  </form>
</ng-template>
