<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1 ml-1">
      <!-- <h4>プロジェクト管理</h4> -->
    </div>
    <div class="">
      <div class="content-body">
        <div>
          <label for="switch">条件検索：</label>
          <input id="switch" name="switch" type="checkbox" [(ngModel)]="show" />
        </div>

        <section class="row" *ngIf="show">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">プロダクト名</label>
                        <input type="text" class="form-control" id="" placeholder=""
                          [(ngModel)]="searchValue.productname">
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-12">
                      <div class="form-group">
                        <label for="">バージョン名</label>
                        <input type="text" class="form-control" id="" placeholder=""
                          [(ngModel)]="searchValue.versionname">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <div class="heading-elements mt-0 pull-right" style="padding-top:20px;">
                          <button class="btn btn-primary btn-sm gap_contact" (click)="searchProject()">
                            <i class="d-md-none d-block feather ft-plus white"></i>
                            <span class="d-md-block d-none">検　索</span></button>

                          <button class="btn btn-warning btn-sm gap_contact" (click)="clearSearchProject()">
                              <i class="d-md-none d-block feather ft-plus white"></i>
                              <span class="d-md-block d-none">クリア</span></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <!-- Task List table -->
                  <div class="row mb-3">
                    <div class="col-sm-12">
                      <button class="btn btn-primary btn-sm gap_contact"
                        (click)="addNewVersionModal(addNewVersion)">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">新　規</span></button>
                      <button class="btn btn-danger btn-sm gap_contact" style="margin-left:5px"
                        (click)="deleteCheckedRow()">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">一括削除</span></button>
                    </div>
                  </div>
                  <!-- <div class="row">
                    <div class="col-sm-12">
                      <span class="mr-1">プロジェクト名：
                        <input type='text'
                          style='padding:8px;margin:15px auto;width:200px;height: calc(1.875rem + 2px);border-radius: 0.21rem;border: 1px solid #babfc7;'
                          [(ngModel)]="searchValue" />
                      </span>
                      <button type="button" class="btn btn-primary btn-sm mr-1" (click)="searchProject()">検　索</button>
                      <button type="button" class="btn btn-warning btn-sm mr-1"
                        (click)="clearSearchProject()">クリア</button>
                    </div>
                  </div> -->
                  <div class="table-responsive">
                    <table class="table grid-breakpoints ">
                      <thead>
                        <tr>
                          <th scope="col" class="thcolor"><input type="checkbox"  (change)="checkAll($event)">
                          </th>
                          <th scope="col" class="thcolor">No.</th>
                          <th scope="col" class="thcolor" (click)="sortData('')">RowID</th>
                          <th scope="col" class="thcolor" (click)="sortData('')">プロダクトID</th>
                          <th scope="col" class="thcolor" (click)="sortData('')">プロダクト名</th>
                          <th scope="col" class="thcolor" (click)="sortData('')">バージョンコード</th>
                          <th scope="col" class="thcolor">バージョン名</th>
                          <th scope="col" class="thcolor">詳細</th>
                          <th scope="col" class="thcolor">DownLoad</th>
                          <th scope="col" class="thcolor">操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let element of PaginationData;let i = index">
                          <td>
                            <input type="checkbox" [checked]="element.isSelected"
                              (change)="checkChange($event,element)">
                          </td>
                          <td>{{i+1}}</td>
                          <td>{{ element.rowid }}</td>
                          <td>{{ element.productid}}</td>
                          <td>{{ element.productname }}</td>
                          <td>{{ element.versioncode }}</td>
                          <td>{{ element.versionname }}</td>
                          <td>{{ element.description}}</td>
                          <td>{{ element.downloadurl}}</td>
                          
                          <td>
                            <a class="primary edit mr-1"
                              (click)="editVersionDataModal(editVersionDataModalContent, element)"><i
                                class="la la-pencil"></i>
                            </a>
                            <a class="danger delete mr-1"><i class="la la-trash-o" (click)="deleteRow(element)"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                      </ngb-pagination>
                      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="20">20 items per page</option>
                        <option [ngValue]="50">50 items per page</option>
                        <option [ngValue]="100">100 items per page</option>
                      </select>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- プロジェクト詳細と修正 -->
<ng-template #editVersionDataModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="versionDataUpdate(versionEditForm,selectedVersion.rowid)" #versionEditForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">バージョン詳細</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <label>RowID</label>
        <input type="text" [(ngModel)]="selectedVersion.rowid" #editname="ngModel" name="rowid"
          id="rowid" class="name form-control" placeholder="selectedVersion.rowid" required disabled>
      </div>
      <div class="form-group col-12">
        <label>プロダクトID</label>
        <input type="text" [(ngModel)]="selectedVersion.productid" #editname="ngModel" name="productid"
          id="productid" class="name form-control" placeholder="selectedVersion.productid" required>
      </div>


      <div class="form-group col-12">
        <label>プロダクト名</label>
        <input type="text" [(ngModel)]="selectedVersion.productname" #editemail="ngModel" name="productname"
          id="productname" class="email form-control" placeholder="selectedVersion.productname" required>
      </div>

      <div class="form-group col-12">
        <label>バージョンコード</label>
        <input type="text" [(ngModel)]="selectedVersion.versioncode" #editemail="ngModel" name="versioncode"
          id="versioncode" class="email form-control" placeholder="selectedVersion.versioncode" required>
      </div>
      <div class="form-group col-12">
        <label>バージョン名</label>
        <input type="text" [(ngModel)]="selectedVersion.versionname" #editemail="ngModel" name="versionname"
          id="versionname" class="email form-control" placeholder="selectedVersion.versionname" required>
      </div>
      <div class="form-group col-12">
        <label>詳細</label>
        <input type="text" [(ngModel)]="selectedVersion.description" #editemail="ngModel" name="description"
          id="description" class="email form-control" placeholder="selectedVersion.description" required>
      </div>
      <div class="form-group col-12">
        <label>DownLoadUrl</label>
        <input type="text" [(ngModel)]="selectedVersion.downloadurl" #editemail="ngModel" name="downloadurl"
          id="downloadurl" class="email form-control" placeholder="selectedVersion.downloadurl" required>
      </div>


    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="button" class="btn grey btn-light mr-1" (click)="d('Close modal')" ngbAutofocus>キャンセル</button>
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">対応完了</span></button>
      </div>
    </div>
  </form>
</ng-template>


<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- プロジェクト新規追加 -->
<ng-template #addNewVersion let-c="close" let-d="dismiss">
  <form (ngSubmit)="addNewVersionForm(NewVersionForm)" #NewVersionForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">バージョン新規追加</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-group col-12">
        <h6>プロダクトID</h6>
        <input type="text" [(ngModel)]="addVersion.productid" name="productid" class="form-control"
          placeholder="">
      </div>

      <div class="form-group col-12">
        <h6>バージョンコード</h6>
        <input type="text" [(ngModel)]="addVersion.versioncode" name="versioncode" class="form-control"
          placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>バージョン名</h6>
        <input type="text" [(ngModel)]="addVersion.versionname" name="versionname" class="form-control"
          placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>バージョン詳細</h6>
        <input type="text" [(ngModel)]="addVersion.description" name="description" class="form-control"
          placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>downloadUrl</h6>
        <input type="text" [(ngModel)]="addVersion.downloadurl" name="downloadurl" class="form-control"
          placeholder="">
      </div>

    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="button" class="btn grey btn-light mr-1" (click)="d('Close modal')" ngbAutofocus>キャンセル</button>
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">登録</span></button>
      </div>
    </div>
  </form>
</ng-template>
