<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-detached">
      <div class="content-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <!-- 本社の使用者は使用不可-->
                    <ng-container *ngIf="this.pageModel.loginUser.loginrole !== 2">
                      <button class="btn btn-primary btn-sm gap_contact" style="margin-left:5px"
                        (click)="addTableDataModal(addTableDataModalContent)">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">新規</span></button>
                    </ng-container>
                    <!-- <button class="btn btn-primary btn-sm gap_contact" style="margin-left:5px"
                      (click)="addNewCompanyUserModal(addNewCompanyUserModalContent, null)">
                      <i class="d-md-none d-block feather ft-plus white"></i>
                      <span class="d-md-block d-none">配下会社新規</span></button> -->
                  </div>
                </div>
              </div>
              <div class="table-responsive card-body">
                <p-treeTable #tt [value]="jsonUsers" [columns]="cols" [reorderableColumns]="true"
                  columnResizeMode="expand" scrollHeight="200px" [style]="{width:'120%'}">
                  <ng-template pTemplate="caption">
                    <div style="text-align: left">
                      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                      <input type="text" pInputText size="50" placeholder="グローバル検索"
                        (input)="tt.filterGlobal($event.target.value, 'contains')"
                        (keyup)="openData($event.target.value)" disabled>
                    </div>
                  </ng-template>
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th>
                        <a>操作</a>
                      </th>
                      <th *ngFor="let col of cols" [ttSortableColumn]="col.field">
                        {{col.header}}
                        <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                    <tr>
                      <ng-container *ngIf="rowData.deleteflag === 1; else elseTemplate">
                        <td>
                          <a title="削除済み" style="background-color:gray;color:rgb(14, 13, 13);">削除済み</a>
                        </td>
                      </ng-container>
                      <ng-template #elseTemplate>
                        <ng-container *ngIf="pageModel.loginUser.loginrole === 1
                        && pageModel.loginUser.logincompanyid === rowData.companyid
                        && pageModel.loginUser.loginuserid !== rowData.userid; else elseTemplate2">
                        <td></td>
                        </ng-container>
                        <ng-template #elseTemplate2>
                          <td>
                          <a class="primary edit mr-1 mrless" title="編集"
                            (click)="editTableDataModal(editTableDataModalContent, rowData)"><i
                              class="la la-pencil"></i>
                          </a>
                          <a class="danger delete mr-1 mrless" title="削除"><i class="la la-trash-o"
                              (click)="deleteRow(rowData)"></i></a>
                          <a class="primary add mr-1 mrless" title="新規会社と会社管理者"
                            (click)="addNewCompanyUserModal(addNewCompanyUserModalContent, rowData)">
                            <i class="feather ft-plus-square"></i></a>
                          <a class="primary add mr-1 mrless" title="ユーザー新規" *ngIf="rowData.role === 0" 
                            (click)="addRowTableDataModal(addTableNewDataModalContent, rowData)">
                            <i class="feather ft-plus-circle"></i></a>
                        </td>
                        </ng-template>
                      </ng-template>
                      <td>
                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                        {{rowData.companyid}}
                      </td>
                      <td>
                        <span class="badge badge-primary badge-pill float-right"
                          title="ユーザー数">{{rowData.userCount}}</span>
                        {{rowData.companyName}}
                      </td>
                      <td style="width: auto;" nowrap>{{rowData.username}}</td>
                      <td>{{rowData.lastname}}</td>
                      <td>{{rowData.firstname}}</td>
                      <td>
                        <span *ngIf="rowData.userid === pageModel.loginUser.loginuserid;"
                          class="badge badge-primary" title="ログイン者">{{rowData.roleName}}
                        </span>
                        <span *ngIf="rowData.userid !== pageModel.loginUser.loginuserid;">
                          {{rowData.roleName}}
                        </span>
                      </td>
                      <td>{{rowData.email}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td [attr.colspan]="cols.length">No data found.</td>
                    </tr>
                  </ng-template>
                </p-treeTable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast position="top-right" key="alertModal" baseZIndex="999"></p-toast>
<p-confirmDialog [baseZIndex]="10000" rejectButtonStyleClass="p-button-secondary" icon="pi pi-exclamation-triangle"
  acceptLabel="確認" rejectLabel="取消">
</p-confirmDialog>


<ng-template #editTableDataModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="onUpdate(editUpdateForm)" #editUpdateForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">編集</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-lg-6 col-md-12">
          <h6>ログインID（メール）<code>＊</code></h6>
          <input type="text" [(ngModel)]="selectedContact.username" #editusername="ngModel" name="username"
            id="username" class="name form-control" disabled maxlength="50">
        </div>
        <div class="form-group col-lg-3 col-md-12">
          <h6>姓<code>＊</code></h6>
          <input type="text" [(ngModel)]="selectedContact.lastname" #editlastname="ngModel" name="lastname"
            id="lastname" class="name form-control" placeholder="" maxlength="50">
        </div>
        <div class="form-group col-lg-3 col-md-12">
          <h6>名<code>＊</code></h6>
          <input type="text" [(ngModel)]="selectedContact.firstname" #editfirstname="ngModel" name="firstname"
            id="firstname" class="name form-control" placeholder="" maxlength="50">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>管理権限</h6>
          <div class="card-content">
            <div class="d-inline-block custom-control custom-radio mr-1">
              <label>{{selectedContact.roleName}}</label>
            </div>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-12">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>会社名<code>＊</code></h6>
          <input type="text" [(ngModel)]="pageModel.updataUserInfo.companyname" #editcompanyname="ngModel"
            name="companyname" id="companyname" class="name form-control" placeholder="会社名" maxlength="50"
            [disabled]="selectedContact.role === 2 ? true:false">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>法人番号<code>＊</code></h6>
          <input type="text" [(ngModel)]="pageModel.updataUserInfo.corporatenumber" #editcorporatenumber="ngModel"
            name="corporatenumber" id="corporatenumber" class="name form-control" placeholder="法人番号" maxlength="13"
            [disabled]="selectedContact.role === 2 ? true:false">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>住所</h6>
          <input type="text" [(ngModel)]="pageModel.updataUserInfo.address" #editaddress="ngModel" name="address"
            id="address" class="name form-control" placeholder="アドレス" maxlength="100"
            [disabled]="selectedContact.role === 2 ? true:false">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>業種</h6>
          <input type="text" [(ngModel)]="pageModel.updataUserInfo.industry" #editindustry="ngModel" name="industry"
            id="industry" class="name form-control" placeholder="業種" maxlength="50"
            [disabled]="selectedContact.role === 2 ? true:false">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>メール</h6>
          <input type="text" [(ngModel)]="pageModel.updataUserInfo.mail" #editmail="ngModel" name="mail" id="mail"
            class="name form-control" placeholder="メール" maxlength="50"
            [disabled]="selectedContact.role === 2 ? true:false">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>電話</h6>
          <input type="text" [(ngModel)]="pageModel.updataUserInfo.tel" #edittel="ngModel" name="tel" id="tel"
            class="name form-control" placeholder="電話" maxlength="13"
            [disabled]="selectedContact.role === 2 ? true:false">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>Fax</h6>
          <input type="text" [(ngModel)]="pageModel.updataUserInfo.fax" #editfax="ngModel" name="fax" id="fax"
            class="name form-control" placeholder="Fax" maxlength="13"
            [disabled]="selectedContact.role === 2 ? true:false">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" class="btn btn-secondary cancel-btn mr-1" (click)="cancleModel(editUpdateForm)">
          <span class="d-sm-inline d-none">取消</span>
        </button>
      </div>
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">保存</span></button>
      </div>
    </div>
  </form>
</ng-template>

<!--ユーザー新規登録（ログイン者の会社）-->
<ng-template #addTableDataModalContent let-c="close" let-d="dismiss">
  <!-- <form #editAddForm="ngForm"> -->
  <form #addForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">新規</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-lg-12 col-md-12">
          <h6>ログインID（メール）<code>＊</code></h6>
          <input type="email" [(ngModel)]="pageModel.adduserInfo.username" #addUsername="ngModel" name="loginid"
            id="loginid" class="name form-control" placeholder="メールアドレス" maxlength="50"
            [ngClass]="{ 'is-invalid': addForm.submitted && addUsername.invalid }" required>
          <div *ngIf="addForm.submitted && addUsername.invalid" class="invalid-feedback">
            <div *ngIf="addUsername.errors.required">ログインIDを入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12">
          <h6>パスワード<code>＊</code></h6>
          <input type="password" [(ngModel)]="pageModel.adduserInfo.password" #addpassword="ngModel" name="password"
            id="password" class="name form-control" placeholder="" maxlength="50"
            [ngClass]="{ 'is-invalid': addForm.submitted && addpassword.invalid }" required>
          <div *ngIf="addForm.submitted && addpassword.invalid" class="invalid-feedback">
            <div *ngIf="addpassword.errors.required">パスワードを入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12">
          <h6>確認パスワード<code>＊</code></h6>
          <input type="password" [(ngModel)]="pageModel.adduserInfo.newPassword" #addNewPassword="ngModel"
            name="newPassword" id="newPassword" class="name form-control" placeholder="" maxlength="50"
            [ngClass]="{ 'is-invalid': addForm.submitted && addNewPassword.invalid }" required>
          <div *ngIf="addForm.submitted && addNewPassword.invalid" class="invalid-feedback">
            <div *ngIf="addNewPassword.errors.required">確認パスワードを入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-5 col-md-12">
          <h6>姓<code>＊</code></h6>
          <input type="text" [(ngModel)]="pageModel.adduserInfo.lastname" #addLastname="ngModel" name="lastname"
            id="lastname" class="name form-control" placeholder="" maxlength="50"
            [ngClass]="{ 'is-invalid': addForm.submitted && addLastname.invalid }" required>
        </div>
        <div *ngIf="addForm.submitted && addLastname.invalid" class="invalid-feedback">
          <div *ngIf="addLastname.errors.required">姓を入力してください</div>
        </div>
        <div class="form-group col-lg-5 col-md-12">
          <h6>名<code>＊</code></h6>
          <input type="text" [(ngModel)]="pageModel.adduserInfo.firstname" #addFirstname="ngModel" name="firstname"
            id="firstname" class="name form-control" placeholder="" maxlength="50"
            [ngClass]="{ 'is-invalid': addForm.submitted && addFirstname.invalid }" required>
          <div *ngIf="addForm.submitted && addFirstname.invalid" class="invalid-feedback">
            <div *ngIf="addFirstname.errors.required">名を入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-2 col-md-12"> </div>
        <div class="form-group col-lg-10 col-md-12">
          <h6>管理権限<code>＊</code></h6>
          <div class="card-content">
            <div class="card-body">
              <div class="d-inline-block custom-control custom-radio mr-1">
                <input type="radio" class="custom-control-input" name="userRadio" id="radio1" value=1 #addRole1
                  (click)="setMyUserRole(addRole1)">
                <label class="custom-control-label" for="radio1">管理者</label>
              </div>
              <div class="d-inline-block custom-control custom-radio mr-1">
                <input type="radio" class="custom-control-input" name="userRadio" id="radio2" value=2 #addRole2
                  (click)="setMyUserRole(addRole2)">
                <label class="custom-control-label" for="radio2">使用者</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer-R">
        <div class="form-group position-relative has-icon-left mb-0">
          <button type="reset" class="btn btn-secondary cancel-btn mr-1" (click)="cancleModel(addForm)">
            <!-- <i class='ficon feather ft-x mr-25'></i> -->
            <span class="d-sm-inline d-none">取消</span>
          </button>
        </div>
        <div class="form-group position-relative has-icon-right mb-0">
          <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"
            data-dismiss="modal"><span class="d-none d-lg-block" (click)="addMyCompUser(addForm)"
              aria-label="Close">登録</span></button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<!-- 新規会社と会社管理者 -->
<ng-template #addNewCompanyUserModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="addTargetCompanyUserDate(addTargetCompanyForm)" #addTargetCompanyForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">新規会社と会社管理者</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-lg-12 col-md-12">
          <h6>ログインID（メール）<code>＊</code></h6>
          <input type="email" [(ngModel)]="pageModel.addTargetCompanyUserInfo.username" #addLoginid="ngModel"
            name="loginid" id="loginid" class="name form-control" placeholder="メールアドレス" maxlength="50"
            [ngClass]="{ 'is-invalid': addTargetCompanyForm.submitted && addLoginid.invalid }" required>
          <div *ngIf="addTargetCompanyForm.submitted && addLoginid.invalid" class="invalid-feedback">
            <div *ngIf="addLoginid.errors.required">ログインIDを入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12">
          <h6>パスワード<code>＊</code></h6>
          <input type="password" [(ngModel)]="pageModel.addTargetCompanyUserInfo.password" #addpassword="ngModel"
            name="password" id="password" class="name form-control" placeholder="" maxlength="50"
            [ngClass]="{ 'is-invalid': addTargetCompanyForm.submitted && addpassword.invalid }" required>
          <div *ngIf="addTargetCompanyForm.submitted && addpassword.invalid" class="invalid-feedback">
            <div *ngIf="addpassword.errors.required">パスワードを入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12">
          <h6>確認パスワード<code>＊</code></h6>
          <input type="password" [(ngModel)]="pageModel.addTargetCompanyUserInfo.newPassword" #addNewPassword="ngModel"
            name="newPassword" id="newPassword" class="name form-control" placeholder="" maxlength="50"
            [ngClass]="{ 'is-invalid': addTargetCompanyForm.submitted && addNewPassword.invalid }" required>
          <div *ngIf="addTargetCompanyForm.submitted && addNewPassword.invalid" class="invalid-feedback">
            <div *ngIf="addNewPassword.errors.required">確認パスワードを入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-5 col-md-12">
          <h6>姓<code>＊</code></h6>
          <input type="text" [(ngModel)]="pageModel.addTargetCompanyUserInfo.lastname" #addLastname="ngModel"
            name="lastname" id="lastname" class="name form-control" placeholder="" maxlength="50"
            [ngClass]="{ 'is-invalid': addTargetCompanyForm.submitted && addLastname.invalid }" required>
        </div>
        <div *ngIf="addTargetCompanyForm.submitted && addLastname.invalid" class="invalid-feedback">
          <div *ngIf="addLastname.errors.required">姓を入力してください</div>
        </div>
        <div class="form-group col-lg-5 col-md-12">
          <h6>名<code>＊</code></h6>
          <input type="text" [(ngModel)]="pageModel.addTargetCompanyUserInfo.firstname" #addFirstname="ngModel"
            name="firstname" id="firstname" class="name form-control" placeholder="" maxlength="50"
            [ngClass]="{ 'is-invalid': addTargetCompanyForm.submitted && addFirstname.invalid }" required>
          <div *ngIf="addTargetCompanyForm.submitted && addFirstname.invalid" class="invalid-feedback">
            <div *ngIf="addFirstname.errors.required">名を入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12">
          <h6>管理権限</h6>
          <div class="card-content">
            <div class="d-inline-block custom-control custom-radio mr-1">
              <label>会社管理者</label>
            </div>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12">
          会社名：<input type="text" [(ngModel)]="addCompanyName" #addcompanyname="ngModel" name="companyName"
            id="companyName" class="name form-control" placeholder="" maxlength="50" disabled>
        </div>
        <div class="form-group col-lg-12 col-md-12">
          <button type="button" class="btn btn-primary" (click)="addCompanyDataModal(addNewCompanyModalContent)">
            <i class="feather ft-plus"></i> 新規会社
          </button><a style="color: blue;">（新規代理会社の場合、ご利用ください）</a>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" class="btn btn-secondary cancel-btn mr-1" (click)="cancleModel(addTargetCompanyForm)">
          <span class="d-sm-inline d-none">取消</span>
        </button>
      </div>
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">登録</span></button>
      </div>
    </div>
  </form>
</ng-template>

<!-- 新規会社 -->
<ng-template #addNewCompanyModalContent let-c="close" let-d="dismiss">
  <form #addCompanyForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">新規会社（代理）</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-lg-6 col-md-12">
          <h6 style="width: 410px;">会社名<code>＊</code></h6>
          <input type="text" [(ngModel)]="pageModel.addTargetCompanyUserInfo.newCompanyInfo.companyname"
            #addCompanyName="ngModel" name="companyname" id="companyname" class="name form-control" placeholder="会社名"
            [ngClass]="{ 'is-invalid': addCompanyForm.submitted && addCompanyName.invalid }" required>
          <div *ngIf="addCompanyForm.submitted && addCompanyName.invalid" class="invalid-feedback">
            <div *ngIf="addCompanyName.errors.required">会社名を入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>法人番号<code>＊</code><a target="_blank" href="https://www.houjin-bangou.nta.go.jp/ "> <u
                style="size: 1;">法人番号検索</u></a>
          </h6>
          <input type="text" [(ngModel)]="pageModel.addTargetCompanyUserInfo.newCompanyInfo.corporatenumber"
            #addcorporatenumber="ngModel" name="corporatenumber" id="corporatenumber" class="name form-control"
            placeholder="法人番号" [ngClass]="{ 'is-invalid': addCompanyForm.submitted && addcorporatenumber.invalid }"
            required>
          <div *ngIf="addCompanyForm.submitted && addcorporatenumber.invalid" class="invalid-feedback" maxlength="13">
            <div *ngIf="addcorporatenumber.errors.required">法人番号を入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12">
          <h6>住所</h6>
          <input type="text" [(ngModel)]="pageModel.addTargetCompanyUserInfo.newCompanyInfo.address"
            #editversion="ngModel" name="address" id="address" class="name form-control" placeholder="住所"
            maxlength="100">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>業種</h6>
          <input type="text" [(ngModel)]="pageModel.addTargetCompanyUserInfo.newCompanyInfo.industry"
            #editversion="ngModel" name="industry" id="industry" class="name form-control" placeholder="業種"
            maxlength="50">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>メール(ログインID)</h6>
          <input type="text" [(ngModel)]="pageModel.addTargetCompanyUserInfo.newCompanyInfo.mail" #editversion="ngModel"
            name="mail" id="mail" class="name form-control" placeholder="メール" maxlength="50" disabled>
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>電話</h6>
          <input type="text" [(ngModel)]="pageModel.addTargetCompanyUserInfo.newCompanyInfo.tel" #editversion="ngModel"
            name="tel" id="tel" class="name form-control" placeholder="電話" maxlength="13">
        </div>
        <div class="form-group col-lg-6 col-md-12">
          <h6>Fax</h6>
          <input type="text" [(ngModel)]="pageModel.addTargetCompanyUserInfo.newCompanyInfo.fax" #editversion="ngModel"
            name="fax" id="fax" class="name form-control" placeholder="Fax" maxlength="13">
        </div>
        <div class="form-group col-lg-6 col-md-12">
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group position-relative has-icon-left mb-0">
          <button type="reset" class="btn btn-secondary cancel-btn mr-1" (click)="cancleCompanyModel(addCompanyForm)">
            <!-- <i class='ficon feather ft-x mr-25'></i> -->
            <span class="d-sm-inline d-none">取消</span>
          </button>
        </div>
        <div class="form-group position-relative has-icon-right mb-0">
          <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"
            data-dismiss="modal"><span class="d-none d-lg-block" (click)="addNewCompany(addCompanyForm)"
              aria-label="Close">保存</span></button>
        </div>
      </div>
    </div>
  </form>
</ng-template>

<!-- ユーザー新規 -->
<ng-template #addTableNewDataModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="addTargetUserDate(addTargetForm)" #addTargetForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">ユーザー新規</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-lg-12 col-md-12">
          <h6>ログインID（メール）<code>＊</code></h6>
          <input type="email" [(ngModel)]="pageModel.addTargetUserInfo.username" #addLoginid="ngModel" name="loginid"
            id="loginid" class="name form-control" placeholder="メールアドレス" maxlength="50"
            [ngClass]="{ 'is-invalid': addTargetForm.submitted && addLoginid.invalid }" required>
          <div *ngIf="addTargetForm.submitted && addLoginid.invalid" class="invalid-feedback">
            <div *ngIf="addLoginid.errors.required">ログインIDを入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12">
          <h6>パスワード<code>＊</code></h6>
          <input type="password" [(ngModel)]="pageModel.addTargetUserInfo.password" #addpassword="ngModel"
            name="password" id="password" class="name form-control" placeholder="" maxlength="50"
            [ngClass]="{ 'is-invalid': addTargetForm.submitted && addpassword.invalid }" required>
          <div *ngIf="addTargetForm.submitted && addpassword.invalid" class="invalid-feedback">
            <div *ngIf="addpassword.errors.required">パスワードを入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12">
          <h6>確認パスワード<code>＊</code></h6>
          <input type="password" [(ngModel)]="pageModel.addTargetUserInfo.newPassword" #addNewPassword="ngModel"
            name="newPassword" id="newPassword" class="name form-control" placeholder="" maxlength="50"
            [ngClass]="{ 'is-invalid': addTargetForm.submitted && addNewPassword.invalid }" required>
          <div *ngIf="addTargetForm.submitted && addNewPassword.invalid" class="invalid-feedback">
            <div *ngIf="addNewPassword.errors.required">確認パスワードを入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-5 col-md-12">
          <h6>姓<code>＊</code></h6>
          <input type="text" [(ngModel)]="pageModel.addTargetUserInfo.lastname" #addLastname="ngModel" name="lastname"
            id="lastname" class="name form-control" placeholder="" maxlength="50"
            [ngClass]="{ 'is-invalid': addTargetForm.submitted && addLastname.invalid }" required>
        </div>
        <div *ngIf="addTargetForm.submitted && addLastname.invalid" class="invalid-feedback">
          <div *ngIf="addLastname.errors.required">姓を入力してください</div>
        </div>
        <div class="form-group col-lg-5 col-md-12">
          <h6>名<code>＊</code></h6>
          <input type="text" [(ngModel)]="pageModel.addTargetUserInfo.firstname" #addFirstname="ngModel"
            name="firstname" id="firstname" class="name form-control" placeholder="" maxlength="50"
            [ngClass]="{ 'is-invalid': addTargetForm.submitted && addFirstname.invalid }" required>
          <div *ngIf="addTargetForm.submitted && addFirstname.invalid" class="invalid-feedback">
            <div *ngIf="addFirstname.errors.required">名を入力してください</div>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12">
          <h6>管理権限<code>＊</code></h6>
          <div class="card-content">
            <div class="card-body">
              <div class="d-inline-block custom-control custom-radio mr-1">
                <input type="radio" class="custom-control-input" name="userRadio" id="radio1" value=1 #addRole1
                  (click)="setRole(addRole1)">
                <label class="custom-control-label" for="radio1">管理者</label>
              </div>
              <div class="d-inline-block custom-control custom-radio mr-1">
                <input type="radio" class="custom-control-input" name="userRadio" id="radio2" value=2 #addRole2
                  (click)="setRole(addRole2)">
                <label class="custom-control-label" for="radio2">使用者</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-lg-12 col-md-12">
          会社名：<input type="text" [(ngModel)]="addSelectedContact.companyName" #addcompanyname="ngModel"
            name="companyName" id="companyName" class="name form-control" placeholder="" maxlength="50" disabled>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" class="btn btn-secondary cancel-btn mr-1" (click)="cancleModel(addTargetForm)">
          <span class="d-sm-inline d-none">取消</span>
        </button>
      </div>
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">登録</span></button>
      </div>
    </div>
  </form>
</ng-template>