<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-detached">
      <div class="content-body">
        <section class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body">
                  <!-- Task List table -->
                  <div class="row">
                    <div class="col-sm-12">
                      <button class="btn btn-primary btn-sm gap_contact"
                        (click)="addTableDataModal(addTableDataModalContent)">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">新　規</span></button>
                      <button class="btn btn-danger btn-sm gap_contact" style="margin-left:5px"
                        (click)="deleteCheckedRow()">
                        <i class="d-md-none d-block feather ft-plus white"></i>
                        <span class="d-md-block d-none">削　除</span></button>
                    </div>
                  </div>
                  <ngx-datatable #table class="bootstrap row contacts-table" [rows]="rows" [columnMode]="'force'"
                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="70" [limit]="10" [selected]="selected"
                    [selectionType]="'checkbox'" (select)='onSelectContact($event)' fxFlex="auto"
                    [perfectScrollbar]="config">

                    <ngx-datatable-column [flexGrow]="1" [minWidth]="30" [maxWidth]="50">
                      <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn">
                        <span class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="selectAll" [checked]="allRowsSelected"
                            (change)="selectFn(!allRowsSelected)" />
                          <label class="custom-control-label" for="selectAll"></label>
                        </span>
                      </ng-template>
                      <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                        let-onCheckboxChangeFn="onCheckboxChangeFn" let-isSelected="isSelected">
                        <div class="custom-control custom-checkbox _center">
                          <input type="checkbox" class="custom-control-input" id="select{{rowIndex}}"
                            [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                          <label class="custom-control-label" for="select{{rowIndex}}"></label>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="ログインID" [flexGrow]="1" [minWidth]="140">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <a>{{row.username}}</a>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="会社名" [flexGrow]="1" [minWidth]="140">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <a>{{row.companyName}}</a>
                      </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-column name="Phone" [flexGrow]="1" [minWidth]="140"></ngx-datatable-column> -->
                    <ngx-datatable-column name="アドレス" [flexGrow]="1" [minWidth]="140">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <a>{{row.address}}</a>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="メール" [flexGrow]="1" [minWidth]="140">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <a>{{row.mail}}</a>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="ユーザー数" [flexGrow]="1" [minWidth]="140">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <a [routerLink]="['/user']"
                          [queryParams]="{userid:row.userid, companyid:row.companyid}">{{row.userCount}}</a>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="デバイス数" [flexGrow]="1" [minWidth]="140">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <a [routerLink]="['/device']"
                          [queryParams]="{userid:row.userid, companyid:row.companyid}">{{row.devicecount}}</a>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Actions" [flexGrow]="1" [minWidth]="100">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <a [routerLink]="" class="primary edit mr-1 mrless"
                          (click)="editTableDataModal(editTableDataModalContent, row)"><i class="la la-pencil"></i>
                        </a>
                        <a class="danger delete mr-1 mrless"><i class="la la-trash-o" (click)="deleteRow(row)"></i></a>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->

<ng-template #editTableDataModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="onUpdate()" #editForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">編集</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <h6>ユーザー名</h6>
        <input type="text" [(ngModel)]="selectedContact.username" #editusername="ngModel" name="username" id="username"
          class="name form-control" placeholder="ユーザー名" disabled>
      </div>
      <div class="form-group col-12">
        <h6>権限</h6>
        <select class="form-control" id="role" name="role" [(ngModel)]="selectedContact.role" #editrole="ngModel"
          class="name form-control">
          <option [value]=1>管理者</option>
          <option [value]=2>使用者</option>
        </select>
      </div>
      <h4 class="form-section">会社情報</h4>
      <div class="form-group col-12">
        <h6>会社名</h6>
        <input type="text" [(ngModel)]="pageModel.updataUserInfo.companyname" #editcompanyname="ngModel"
          name="companyname" id="companyname" class="name form-control" placeholder="会社名">
      </div>
      <!-- <div class="form-group col-12">
        <h6 style="width: 410px;">会社名</h6>
        <select class="form-control" name="company" id="company" [(ngModel)]="pageModel.updataUserInfo.companyid"
          placeholder="選択してください。" #editcompanyid="ngModel" (change)="show()"
          [ngClass]="{ 'is-invalid': editForm.submitted && editname.invalid }" required disabled>
          <option *ngFor="let companyInfo of pageModel.companyInfoAll; let i = index" [ngValue]="companyInfo.companyid">
            {{companyInfo.companyname}}
          </option>
        </select>
        <div *ngIf="editForm.submitted && editname.invalid" class="invalid-feedback">
          <div *ngIf="editname.errors.required">ユーザータイプを選んでください</div>
        </div>
      </div> -->
      <div class="form-group col-12">
        <h6>法人番号</h6>
        <input type="text" [(ngModel)]="pageModel.updataUserInfo.corporatenumber" #editcorporatenumber="ngModel"
          name="corporatenumber" id="corporatenumber" class="name form-control" placeholder="法人番号">
      </div>
      <div class="form-group col-12">
        <h6>アドレス</h6>
        <input type="text" [(ngModel)]="pageModel.updataUserInfo.address" #editaddress="ngModel" name="address"
          id="address" class="name form-control" placeholder="アドレス">
      </div>
      <div class="form-group col-12">
        <h6>業種</h6>
        <input type="text" [(ngModel)]="pageModel.updataUserInfo.industry" #editindustry="ngModel" name="industry"
          id="industry" class="name form-control" placeholder="業種">
      </div>
      <div class="form-group col-12">
        <h6>メール</h6>
        <input type="text" [(ngModel)]="pageModel.updataUserInfo.mail" #editmail="ngModel" name="mail" id="mail"
          class="name form-control" placeholder="メール">
      </div>
      <div class="form-group col-12">
        <h6>電話</h6>
        <input type="text" [(ngModel)]="pageModel.updataUserInfo.tel" #edittel="ngModel" name="tel" id="tel"
          class="name form-control" placeholder="電話">
      </div>
      <div class="form-group col-12">
        <h6>Fax</h6>
        <input type="text" [(ngModel)]="pageModel.updataUserInfo.fax" #editfax="ngModel" name="fax" id="fax"
          class="name form-control" placeholder="Fax">
      </div>

    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"
          (click)="onUpdate()"><i class="la la-paper-plane-o d-lg-none"></i> <span
            class="d-none d-lg-block">保存</span></button>
      </div>
    </div>
  </form>
</ng-template>
<ng-template #addTableDataModalContent let-c="close" let-d="dismiss">
  <form #editForm="ngForm">
    <!-- <form (ngSubmit)="addUser()" #editForm="ngForm"> -->
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">新規</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <h6>ユーザー名</h6>
        <input type="text" [(ngModel)]="pageModel.adduserInfo.username" #editname="ngModel" name="username"
          id="username" class="name form-control" placeholder="半角英数で入力してください"
          [ngClass]="{ 'is-invalid': editForm.submitted && editname.invalid }" required>
        <div *ngIf="editForm.submitted && editname.invalid" class="invalid-feedback">
          <div *ngIf="editname.errors.required">ユーザー名を入力してください</div>
        </div>
      </div>
      <div class="form-group col-12">
        <h6>権限</h6>
        <select class="form-control" id="role" name="role" [(ngModel)]="pageModel.adduserInfo.role" #editname="ngModel"
          name="username" id="username" class="name form-control"
          [ngClass]="{ 'is-invalid': editForm.submitted && editname.invalid }" required>
          <option [value]=1>管理者</option>
          <option [value]=2>使用者</option>
        </select>
        <div *ngIf="editForm.submitted && editname.invalid" class="invalid-feedback">
          <div *ngIf="editname.errors.required">権限を選択してください</div>
        </div>
      </div>
      <div class="form-group col-12">
        <h6>パスワード</h6>
        <input type="text" [(ngModel)]="pageModel.adduserInfo.passwrod" #editmodel="ngModel" name="passwrod"
          id="passwrod" class="name form-control" placeholder="パスワード">
      </div>
      <div class="form-group col-12">
        <h6>パスワード確認</h6>
        <input type="text" [(ngModel)]="pageModel.adduserInfo.passwrod2" #editmodel="ngModel" name="passwrod2"
          id="passwrod2" class="name form-control" placeholder="パスワード確認">
      </div>
      <div class="form-group col-12">
        <ul class="nav nav-tabs _bottom nav-underline no-hover-bg tabsborder">
          <ngb-tabset>
            <ngb-tab title="会社情報">
              <ng-template ngbTabContent>
                <h4 class="form-section">会社情報</h4>
                <div class="form-group col-12">
                  <h6 style="width: 410px;">会社名</h6>
                  <select class="form-control" name="company" id="company"
                    [(ngModel)]="pageModel.adduserInfo.companyInfo.companyid" placeholder="選択してください。"
                    #editname="ngModel" (change)="show()"
                    [ngClass]="{ 'is-invalid': editForm.submitted && editname.invalid }" required>
                    <option *ngFor="let companyInfo of pageModel.companyInfoAll; let i = index"
                      [ngValue]="companyInfo.companyid">
                      {{companyInfo.companyname}}
                    </option>
                  </select>
                  <div *ngIf="editForm.submitted && editname.invalid" class="invalid-feedback">
                    <div *ngIf="editname.errors.required">ユーザータイプを選んでください</div>
                  </div>
                </div>
                <div class="form-group col-12">
                  <h6>法人番号</h6>
                  <input type="text" [(ngModel)]="pageModel.adduserInfo.companyInfo.corporatenumber"
                    #editversion="ngModel" name="corporatenumber" id="corporatenumber" class="name form-control"
                    placeholder="法人番号" disabled>
                </div>
                <div class="form-group col-12">
                  <h6>アドレス</h6>
                  <input type="text" [(ngModel)]="pageModel.adduserInfo.companyInfo.address" #editversion="ngModel"
                    name="address" id="address" class="name form-control" placeholder="アドレス" disabled>
                </div>
                <div class="form-group col-12">
                  <h6>業種</h6>
                  <input type="text" [(ngModel)]="pageModel.adduserInfo.companyInfo.industry" #editversion="ngModel"
                    name="industry" id="industry" class="name form-control" placeholder="業種" disabled>
                </div>
                <div class="form-group col-12">
                  <h6>メール</h6>
                  <input type="text" [(ngModel)]="pageModel.adduserInfo.companyInfo.mail" #editversion="ngModel"
                    name="mail" id="mail" class="name form-control" placeholder="メール" disabled>
                </div>
                <div class="form-group col-12">
                  <h6>電話</h6>
                  <input type="text" [(ngModel)]="pageModel.adduserInfo.companyInfo.tel" #editversion="ngModel"
                    name="tel" id="tel" class="name form-control" placeholder="電話" disabled>
                </div>
                <div class="form-group col-12">
                  <h6>Fax</h6>
                  <input type="text" [(ngModel)]="pageModel.adduserInfo.companyInfo.fax" #editversion="ngModel"
                    name="fax" id="fax" class="name form-control" placeholder="Fax" disabled>
                </div>
                <div class="modal-footer">
                  <div class="form-group position-relative has-icon-left mb-0">
                    <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item"
                      data-dismiss="modal"><i class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block"
                        (click)="addCompUser()">登録</span></button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="新規会社">
              <ng-template ngbTabContent>
                <h4 class="form-section">新規会社情報</h4>
                <div class="form-group col-12">
                  <h6 style="width: 410px;">会社名</h6>
                  <input type="text" [(ngModel)]="pageModel.adduserInfo.newCompanyInfo.companyname" #editname="ngModel"
                    name="companyname" id="companyname" class="name form-control" placeholder="会社名"
                    [ngClass]="{ 'is-invalid': editForm.submitted && editname.invalid }" required>
                  <div *ngIf="editForm.submitted && editname.invalid" class="invalid-feedback">
                    <div *ngIf="editname.errors.required">会社名を入力してください</div>
                  </div>
                </div>
                <div class="form-group col-12">
                  <h6>法人番号</h6>
                  <input type="text" [(ngModel)]="pageModel.adduserInfo.newCompanyInfo.corporatenumber"
                    #editversion="ngModel" name="corporatenumber" id="corporatenumber" class="name form-control"
                    placeholder="法人番号" [ngClass]="{ 'is-invalid': editForm.submitted && editname.invalid }" required>
                  <div *ngIf="editForm.submitted && editname.invalid" class="invalid-feedback">
                    <div *ngIf="editname.errors.required">法人番号を入力してください</div>
                  </div>
                </div>
                <div class="form-group col-12">
                  <h6>アドレス</h6>
                  <input type="text" [(ngModel)]="pageModel.adduserInfo.newCompanyInfo.address" #editversion="ngModel"
                    name="address" id="address" class="name form-control" placeholder="アドレス">
                </div>
                <div class="form-group col-12">
                  <h6>業種</h6>
                  <input type="text" [(ngModel)]="pageModel.adduserInfo.newCompanyInfo.industry" #editversion="ngModel"
                    name="industry" id="industry" class="name form-control" placeholder="業種">
                </div>
                <div class="form-group col-12">
                  <h6>メール</h6>
                  <input type="text" [(ngModel)]="pageModel.adduserInfo.newCompanyInfo.mail" #editversion="ngModel"
                    name="mail" id="mail" class="name form-control" placeholder="メール">
                </div>
                <div class="form-group col-12">
                  <h6>電話</h6>
                  <input type="text" [(ngModel)]="pageModel.adduserInfo.newCompanyInfo.tel" #editversion="ngModel"
                    name="tel" id="tel" class="name form-control" placeholder="電話">
                </div>
                <div class="form-group col-12">
                  <h6>Fax</h6>
                  <input type="text" [(ngModel)]="pageModel.adduserInfo.newCompanyInfo.fax" #editversion="ngModel"
                    name="fax" id="fax" class="name form-control" placeholder="Fax">
                </div>
                <div class="modal-footer">
                  <div class="form-group position-relative has-icon-left mb-0">
                    <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item"
                      data-dismiss="modal"><i class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block"
                        (click)="addNewCompUser()">登録</span></button>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </ul>
      </div>
    </div>
  </form>
</ng-template>

<!-- <ng-template #addTableDataModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="addNewContact(addForm)" #addForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">登録</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <input type="text" [(ngModel)]="contactName" name="name" id="contact-name" class="contact-name form-control"
          placeholder="IMEI" #contactname="ngModel"
          [ngClass]="{ 'is-invalid': addForm.submitted && contactname.invalid }" required>
        <div *ngIf="addForm.submitted && contactname.invalid" class="invalid-feedback">
          <div *ngIf="contactname.errors.required">Name is required</div>
        </div>
      </div>
      <div class="form-group col-12">
        <input type="text" [(ngModel)]="contactEmail" name="email" id="contact-email" class="contact-email form-control"
          placeholder="ICCID" #contactemail="ngModel"
          [ngClass]="{ 'is-invalid':addForm.submitted && contactemail.invalid }" required email>
        <div *ngIf="addForm.submitted && contactemail.invalid" class="invalid-feedback">
          <div *ngIf="contactemail.errors.required">Email is required</div>
          <div *ngIf="contactemail.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group col-12">
        <input type="text" [(ngModel)]="contactPhone" name="contactPhone" #contactphone="ngModel" id="contact-phone"
          class="contact-phone form-control" placeholder="IMSI" (keyup)="onFormat()" maxlength="14">
      </div>
      <div class="form-group col-12">
        <h4 class="card-title">識別コード</h4>
        <input type="text" class="form-control" id="defaultInputText" placeholder="識別コード">
      </div>


      <div class="form-group col-12">

        <ng-select [items]="singleSelectArray" [searchable]="true" bindLabel="item_text" placeholder="所有者"
          [(ngModel)]="singlebasicSelected">
        </ng-select>
      </div>
      <div class="form-group col-12">

        <ng-select [searchable]="true" bindLabel="item_text" placeholder="暗号化通信" [(ngModel)]="singlebasicSelected">
          <option value=0 selected>OFF</option>
          <option value=1>ON</option>
        </ng-select>
      </div>

      <div class="form-group col-12">
        <h6>暗号化キー</h6>
        <input type="text" class="form-control" id="" placeholder="空白の場合、サーバーで自動生成します">
      </div>
      <div class="form-group col-12">
        <h6>接続サーバーアドレス</h6>
        <input type="text" class="form-control" id="" placeholder="空白の場合、サーバーで自動生成します">
      </div>
      <div class="form-group col-12">
        <h6>接続サーバーポート番号</h6>
        <input type="text" class="form-control" id="" placeholder="空白の場合、サーバーで自動生成します">
      </div>
      <div class="form-group col-12">
        <h6>バンディング済みフラグ</h6>
        <input type="text" class="form-control" id="" placeholder="空白の場合、サーバーで自動生成します">
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="add-contact-item" class="btn btn-info add-contact-item"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">保存</span></button>
      </div>
    </div>
  </form>
</ng-template> -->

<!-- <ng-template #addTableDatasModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="addNewContact(addForm)" #addForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">一括登録</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <i class="feather ft-download info" (click)="downloadSampleFiles()">サンプルファイルをダウンロード</i>
      </div>
      <div class="custom-file form-group col-12">
        <input type="file" class="custom-file-input" accept='contactImage/*' (change)="changeTarget($event)"
          id="customFile">
        <label class="custom-file-label">ファイルを選択</label>
      </div>
    </div>
    <div class="form-group col-12">
      <table id="list-table" class="table table-hover table-bordered" cellspacing="0">
        <thead>
          <tr>
            <th scope="col">no.</th>
            <th scope="col">imei</th>
            <th scope="col">iccid</th>
            <th scope="col">imsi</th>
            <th scope="col">uid</th>
            <th scope="col">secMode</th>
            <th scope="col">psk</th>
            <th scope="col">host</th>
            <th scope="col">port</th>
            <th scope="col">bind</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of pageModel.dataAll; let i = index;">
            <td data-label="no.">{{i + 1}}</td>
            <td data-label="imei">{{item.imei}}</td>
            <td data-label="iccid">{{item.iccid}}</td>
            <td data-label="imsi">{{item.imsi}}</td>
            <td data-label="uid">{{item.uid}}</td>
            <td data-label="secMode">{{item.securityMode}}</td>
            <td data-label="psk">{{item.psk}}</td>
            <td data-label="host">{{item.serverHost}}</td>
            <td data-label="port">{{item.serverPort}}</td>
            <td data-label="bind">{{item.isBind}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="button" id="add-contact-item" class="btn btn-info add-contact-item"><i
            class="la la-paper-plane-o d-lg-none"></i>
          <span class="d-none d-lg-block">一括登録</span></button>
      </div>
    </div>
  </form>
</ng-template> -->
<!-- <ng-template #addGroupModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="addNewContact(addForm)" #addForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel1">グループ選択</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <label class="card-title" for="countrySelect">グループを選択してください。</label>
        <ng-select [items]="singleSelectArray" [searchable]="true" bindLabel="item_text" placeholder="所有者"
          [(ngModel)]="singlebasicSelected">
        </ng-select>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="add-contact-item" class="btn btn-info add-contact-item"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">保存</span></button>
      </div>
    </div>
  </form>
</ng-template> -->