.u-isHidden {
    display: none !important;
}

.table th {
    background-color: grey !important;
    color: whitesmoke !important;
    font-weight: bold !important;
    height: 40px !important;
}

.table tr td {
    vertical-align: middle;
}

.parentRow {
    font-weight: bold;
}
