<div class="ui-table-headerTemplate u-isHidden">
    <ng-content select=".header"></ng-content>
</div>

<div class="table table-hover">
    <p-treeTable #tt [value]="list"
                 [columns]="HeaderItems" [reorderableColumns]="true" styleClass="p-treetable-sm" autoLayout=true>

        <!-- ヘッダー -->
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of HeaderItems">
                    <span>{{col.header}}</span>
                </th>
            </tr>
        </ng-template>

        <!-- テーブル -->
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">

            <!-- 拡張あり -->
            <ng-container *ngIf="parentExtension">
                <!-- 親の場合-->
                <ng-container *ngIf="rowData['isParent']">
                    <tr [ttRow]="rowNode" class="parentRow">
                        <!-- TD結合-->
                        <td [attr.colspan]="colspan ? colspanNum : ''">
                            <!--　拡張-->
                            <ifcs-tree-table-toggler-customized [rowNode]="rowNode"
                                                                [parentOutTemplate]="parentOutTemplate">
                            </ifcs-tree-table-toggler-customized>
                        </td>
                    </tr>
                </ng-container>
                <!-- 親以外の場合-->
                <ng-container *ngIf="!rowData['isParent']">
                    <tr [ttRow]="rowNode">
                        <td *ngFor="let header of HeaderItems">
                            <!-- グループ開始-->
                            <ng-container *ngIf="header.node">
                                <p-treeTableToggler [rowNode]="rowNode" #treeTableToggler></p-treeTableToggler>
                            </ng-container>

                            <!--TD-->
                            <!-- 列拡張-->
                            <ng-container *ngIf="header.ext">
                                <ng-container
                                        *ngTemplateOutlet="colExtension[header.field]; context:{value: rowNode.node}">
                                </ng-container>
                            </ng-container>
                            <!-- 列拡張以外-->
                            <ng-container *ngIf="!header.ext">
                                <span>{{rowData[header.field]}}</span>
                            </ng-container>

                        </td>
                    </tr>
                </ng-container>
            </ng-container><!-- 拡張あり -->

            <!-- 拡張なし -->
            <ng-container *ngIf="!parentExtension">
                <tr [ttRow]="rowNode" [ngClass]="{'parentRow': rowData['isParent']}">
                    <td *ngFor="let header of HeaderItems">
                        <!-- グループ開始-->
                        <ng-container *ngIf="header.node">
                            <p-treeTableToggler [rowNode]="rowNode" #treeTableToggler></p-treeTableToggler>
                        </ng-container>

                        <!--TD-->
                        <!-- 列拡張-->
                        <ng-container *ngIf="header.ext">
                            <ng-container
                                    *ngTemplateOutlet="colExtension[header.field]; context:{value: rowNode.node}">
                            </ng-container>
                        </ng-container>
                        <!-- 列拡張以外-->
                        <ng-container *ngIf="!header.ext">
                            <span>{{rowData[header.field]}}</span>
                        </ng-container>

                    </td>
                </tr>
            </ng-container><!-- 拡張なし -->

        </ng-template>

    </p-treeTable>

</div>


<!-- サンプル (拡張を含む) -->
<!--&lt;!&ndash;グループ開始テンプレート&ndash;&gt;-->
<!--<ng-template let-param="value" #groupParentTemp>-->
<!--    <span>-->
<!--        <span>{{param.data.name}} ({{param.data.size}}) {{param.data.type}}</span>-->
<!--        <span style="padding: 10px">-->
<!--            <a class="primary edit mr-1 mrless" title="編集"-->
<!--               (click)="onGroupEdit($event, param)"><i class="la la-pencil"></i></a>-->
<!--        </span>-->
<!--    </span>-->
<!--</ng-template>-->
<!--&lt;!&ndash;操作列テンプレート&ndash;&gt;-->
<!--<ng-template let-param="value" #colTmpOpt>-->
<!--    <a class="danger delete mr-1 mrless" title="削除" (click)="onUserDel($event, param)">-->
<!--        <i class="la la-trash-o"></i>-->
<!--    </a>-->
<!--</ng-template>-->
<!--&lt;!&ndash;ツリーテーブル&ndash;&gt;-->
<!--<ifcs-tree-table tblId="newAllList" [list]="list" [parentExtension]="true"-->
<!--                 [parentOutTemplate]="groupParentTemp" [colspan]="true"-->
<!--                 [colExtension]="{'opt': colTmpOpt}">-->
<!--    <ul class="header newAllList">-->
<!--        <li data-col="name" data-text="番号" data-node="true"></li>-->
<!--        <li data-col="size" data-text="受入日"></li>-->
<!--        <li data-col="type" data-text="区分"></li>-->
<!--        <li data-col="opt" data-text="操作" data-ext="true"></li>-->
<!--    </ul>-->
<!--</ifcs-tree-table>-->
