<ng-template #defaultModelContent let-c="close" let-d="dismiss" [ngClass]="class">

    <!--    <form #form="ngForm">-->

    <div class="modal-header">
        <h4 class="modal-title">{{title ? title : "Basic Modal"}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        <ng-content select=".modalBody"></ng-content>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn grey btn-outline-secondary" (click)="c('Close modal')" ngbAutofocus>
            {{cancelBtnText ? cancelBtnText : "Close"}}
        </button>
        <button type="{{okBtnType}}" class="btn btn-outline-primary" (click)="onClick($event)"
                [disabled]="okBtnDisabled">
            <!--        <button type="{{okBtnType}}" class="btn btn-outline-primary" (click)="onClick($event)"-->
            <!--                [disabled]="form.invalid">-->
            {{okBtnText ? okBtnText : "Save changes"}}
        </button>
    </div>

    <!--    </form>-->

</ng-template>
