<h6 *ngIf="label">{{label}}<code *ngIf="required">＊</code></h6>
<select type="text" class="form-control" #self="ngModel"
        [(ngModel)]="value" id="{{iid}}"
        required="{{required}}" maxlength="{{maxlength}}"
        [ngClass]="class">
    <ng-container *ngFor="let item of list">
        <option value="{{ item[bindValue] }}">{{item[bindLabel]}}</option>
    </ng-container>
</select>
<div *ngIf="self.invalid" class="invalid-feedback d-block">
    <div *ngIf="self.errors.required">{{label}}を入力してください</div>
</div>
