<ng-template #defaultModelContent let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">{{title ? title : "Basic Modal"}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>

    <div class="modal-body">
        <ng-content select=".modalBody"></ng-content>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn grey btn-outline-secondary" (click)="d('Close modal')" ngbAutofocus>
            {{cancelBtnText ? cancelBtnText : "Close"}}
        </button>
        <button type="button" class="btn btn-outline-primary" (click)="onClick($event)">
            {{okBtnText ? okBtnText : "Save changes"}}
        </button>
    </div>

    <!--    <div class="modal-footer">-->
    <!--        <div class="form-group position-relative has-icon-left mb-0">-->
    <!--            <button type="reset" class="btn btn-secondary cancel-btn mr-1" (click)="d('Close modal')">-->
    <!--                <span class="d-sm-inline d-none">取消</span>-->
    <!--            </button>-->
    <!--        </div>-->
    <!--        <div class="form-group position-relative has-icon-left mb-0">-->
    <!--            <button type="submit" id="add-contact-item" class="btn btn-info add-contact-item"><i-->
    <!--                    class="la la-paper-plane-o d-lg-none" (click)="onClick($event)">-->
    <!--            </i><span class="d-none d-lg-block">登録</span>-->
    <!--            </button>-->
    <!--        </div>-->
    <!--    </div>-->

</ng-template>
