<div class="card pull-up" (click)="onClick($event)">
    <div class="card-content">
        <div class="card-body card_padding">
            <div class="media d-flex">

                <div class="media-body text-left">
                    <h3 class="{{labelClass}}" style="{{labelStyle}}">{{label}}</h3>
                    <h6>{{memo}}</h6>
                </div>
                <div>
                    <i class="{{iconClass}}" style="{{iconStyle}}"></i>
                </div>

            </div>
        </div>
    </div>
</div>
