<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1 ml-1"><h4>プロジェクト管理</h4></div>
    <div class=""> 
      <div class="content-body">
        <div class="content-overlay" id='content-overlay' (click)="contentOverlay($event)"></div>
        <section class="row">
          <div class="col-12">
            <div class="card">

              <div class="card-content">
                <div class="card-head">
                  <div class="card-header">

                  </div>
                </div>
                <div class="card-body">
                  <!-- Task List table -->
                  <div class="row">
                    <div class="col-sm-12">
                      <button type="button" class="btn btn-primary mb-2 mr-1" (click)="addNewProjectModal(addNewProject)">新  規</button>
                      <button type="button" class="btn btn-danger mb-2 mr-1" (click)="deleteCheckedRow()">削  除</button>
                      
                      <span class="pull-right">
                        プロジェクト名検索 :　
                        <input type='search'
                          style='padding:8px;margin:15px auto;width:200px;height: calc(1.875rem + 2px);border-radius: 0.21rem;border: 1px solid #babfc7;'
                          (keyup)='updateFilter($event)' /></span>
                    </div>
                    
                  </div>

                  <ngx-datatable #table class="bootstrap row contacts-table" [rows]="rows" [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="70" [limit]="5" [selected]="selected" [selectionType]="'checkbox'"
                    (select)='onSelectContact($event)' fxFlex="auto" [perfectScrollbar]="config">

                    <ngx-datatable-column [flexGrow]="1" [minWidth]="30" [maxWidth]="50">
                      <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn">
                        <span class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="selectAll" [checked]="allRowsSelected"
                            (change)="selectFn(!allRowsSelected)" />
                          <label class="custom-control-label" for="selectAll"></label>
                        </span>
                      </ng-template>
                      <ng-template ngx-datatable-cell-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                        let-onCheckboxChangeFn="onCheckboxChangeFn" let-isSelected="isSelected">
                        <div class="custom-control custom-checkbox _center">
                          <input type="checkbox" class="custom-control-input" id="select{{rowIndex}}"
                            [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
                          <label class="custom-control-label" for="select{{rowIndex}}"></label>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="No" [flexGrow]="1" [minWidth]="20">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{i+1}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="プロジェクトID" [flexGrow]="1" [minWidth]="60">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.projectid}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="プロジェクト名" [flexGrow]="1" [minWidth]="140">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.projectname}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="プロダクトID" [flexGrow]="1" [minWidth]="90">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.productid}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="プロジェクト詳細" [flexGrow]="1" [minWidth]="140" [cellClass]="'my-custom-cell'">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        {{row.projectsummary}}
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="デバイスグループ数" [flexGrow]="1" [minWidth]="140" [cellClass]="'my-custom-cell'">
                      <ng-template ngx-datatable-cell-template let-row="row">
                          {{row.groupCounts}}
                      </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="デバイス数" [flexGrow]="1" [minWidth]="90" [cellClass]="'my-custom-cell'">
                      <ng-template ngx-datatable-cell-template let-row="row">
                          {{row.deviceCounts}}
                      </ng-template>
                  </ngx-datatable-column>

                    <ngx-datatable-column name="操作" [flexGrow]="1" [minWidth]="100">
                      <ng-template ngx-datatable-cell-template let-row="row">
                        <a [routerLink]="" class="primary edit mr-1 mrless"
                          (click)="editTableDataModal(editTableDataModalContent, row)"><i class="la la-pencil"></i>
                        </a>
                        <a class="danger delete mr-1 mrless"><i class="la la-trash-o" (click)="deleteRow(row)"></i></a>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- プロジェクト詳細 -->
<ng-template #editTableDataModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="onUpdate(editForm,selectedContact.id)" #editForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">エラー詳細</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <label >エラーコード</label>
        <input type="text" [(ngModel)]="selectedErrorItem.errcode" #editname="ngModel" name="errcode" id="errcode"
          class="name form-control" placeholder="Name" disabled
          [ngClass]="{ 'is-invalid': editForm.submitted && editname.invalid }" required>
        <!-- <div *ngIf="editForm.submitted && editname.invalid" class="invalid-feedback">
          <div *ngIf="editname.errors.required">Name is required</div>
        </div> -->
      </div>


      <div class="form-group col-12">
        <label >デバイスID</label>
        <input type="text" [(ngModel)]="selectedErrorItem.device" disabled #editemail="ngModel" name="email" id="email"
          class="email form-control" 
          [ngClass]="{ 'is-invalid':editForm.submitted && editemail.invalid }" required email>
      </div>


      <div class="form-group col-12">
        <label >管理者</label>
        <input type="text" [(ngModel)]="selectedErrorItem.userid" disabled #editphone="ngModel" name="phone" id="phone"
          class="phone form-control" placeholder="Phone Number" (keyup)="onFormat()" maxlength="14">
      </div>


      <div class="form-group col-12">
        <label >発生日時</label>
        <input type="text" [(ngModel)]="selectedErrorItem.datatime" disabled #editTime="ngModel" name="time" id="time"
          class="phone form-control" placeholder="Phone Number" (keyup)="onFormat()" maxlength="14">
      </div>

      <div class="form-group col-12">
        <label >対応ステータス</label>
        <input type="text" [(ngModel)]="selectedErrorItem.statusflag" disabled #editStatus="ngModel" name="status" id="status"
          class="phone form-control" placeholder="Phone Number" (keyup)="onFormat()" maxlength="14">
      </div>
  

    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">対応完了</span></button>
      </div>
    </div>
  </form>
</ng-template>


<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- 新規追加 -->
<ng-template #addNewProject let-c="close" let-d="dismiss">
  <form (ngSubmit)="addNewProjectForm(NewProjectForm)" #NewProjectForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">プロジェクト新規追加</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <div class="form-group col-12">
        <h6>プロジェクト名</h6>
        <input type="text"  [(ngModel)]="pageModel.addProject.projectName" name="projectName" class="form-control" placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>プロダクトID</h6>
        <input type="text"  [(ngModel)]="pageModel.addProject.productId" name="productId" class="form-control" placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>プロジェクト詳細</h6>
        <input type="text"  [(ngModel)]="pageModel.addProject.projectSummary" name="projectSummary" class="form-control" placeholder="">
      </div>

    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">登録</span></button>
      </div>
    </div>
  </form>
</ng-template>



