<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1 ml-1"><h4>プロジェクト管理</h4></div>
    <div class=""> 
      <div class="content-body">
        <div class="content-overlay" id='content-overlay' ></div>
        <section class="row">
          <div class="col-12">
            <div class="card">

              <div class="card-content">
                
                <div class="card-body">
                  <!-- Task List table -->
                  <div class="row">
                    <div class="col-sm-12">
                      <button type="button" class="btn btn-primary btn-sm mb-2 mr-1" (click)="addNewProjectModal(addNewProject)">新  規</button>
                      <button type="button" class="btn btn-danger btn-sm mb-2 mr-1" >一括削除</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <span class="mr-1">プロジェクト名：
                        <input type='text'
                        style='padding:8px;margin:15px auto;width:200px;height: calc(1.875rem + 2px);border-radius: 0.21rem;border: 1px solid #babfc7;' [(ngModel)]="searchValue"/>
                      </span>
                        <button type="button" class="btn btn-primary btn-sm mr-1" (click)="searchProject()">検　索</button>
                        <button type="button" class="btn btn-warning btn-sm mr-1" (click)="clearSearchProject()">クリア</button>

                    </div>
                  </div>

                  <div class="table-responsive">
                    <table class="table grid-breakpoints">
                      <thead>
                        <tr>
                          <th scope="col" class="thcolor"><input type="checkbox" >
                          </th>
                          <th scope="col" class="thcolor">No.</th>
                          <th scope="col" class="thcolor" >プロジェクトID</th>
                          <th scope="col" class="thcolor" >プロジェクト名</th>
                          <th scope="col" class="thcolor" >プロダクトID</th>
                          <th scope="col" class="thcolor" >プロジェクト詳細</th>
                          <th scope="col" class="thcolor" >デバイスグループ数</th>
                          <th scope="col" class="thcolor" >デバイス数</th>
                          <th scope="col" class="thcolor" >デバイス連携</th>
                          <th scope="col"class="thcolor" >操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let element of rows;let i = index">
                          <td>
                            <input type="checkbox" >
                          </td>
                          <td>{{i+1}}</td>
                          <td>{{ element.projectid }}</td>
                          <td>{{ element.projectname}}</td>
                          <td>{{ element.productid }}</td>
                          <td>{{ element.projectsummary }}</td>
                          <td>{{ element.groupCounts}}</td>
                          <td>{{ element.deviceCounts}}</td>
                          <td></td>
    
                          <td>
                            <a [routerLink]="" class="primary edit mr-1 mrless"
                              (click)="editProjectDataModal(editProjectDataModalContent, element)"><i class="la la-pencil"></i>
                            </a>
                            <a class="danger delete mr-1 mrless"><i class="la la-trash-o"
                                (click)="deleteRow(element)"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="d-flex justify-content-between p-2">
                      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                      </ngb-pagination>
                      <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="20">20 items per page</option>
                        <option [ngValue]="50">50 items per page</option>
                        <option [ngValue]="100">100 items per page</option>
                      </select>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- プロジェクト詳細と修正 -->
<ng-template #editProjectDataModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="projectDataUpdate(projectEditForm,selectedProject.projectid)" #projectEditForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">プロジェクト詳細</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <label >プロジェクトID</label>
        <input type="text" [(ngModel)]="selectedProject.projectid" #editname="ngModel" name="projectrowid" id="projectrowid"
          class="name form-control" placeholder="selectedProject.projectid"
           required disabled>
      </div>
      <div class="form-group col-12">
        <label >プロジェクト名</label>
        <input type="text" [(ngModel)]="selectedProject.projectname" #editname="ngModel" name="projectname" id="projectname"
          class="name form-control" placeholder="selectedProject.projectnameame"
           required>
      </div>


      <div class="form-group col-12">
        <label >プロジェクト詳細</label>
        <input type="text" [(ngModel)]="selectedProject.projectsummary"  #editemail="ngModel" name="projectsummary" id="projectsummary"
          class="email form-control" placeholder="selectedProject.projectsummary"
           required>
      </div>


    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="button" class="btn grey btn-light mr-1"
                            (click)="d('Close modal')" ngbAutofocus>キャンセル</button>
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">対応完了</span></button>
      </div>
    </div>
  </form>
</ng-template>


<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- プロジェクト新規追加 -->
<ng-template #addNewProject let-c="close" let-d="dismiss">
  <form (ngSubmit)="addNewProjectForm(NewProjectForm)" #NewProjectForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">プロジェクト新規追加</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <div class="form-group col-12">
        <h6>プロジェクト名</h6>
        <input type="text"  [(ngModel)]="pageModel.addProject.projectName" name="projectName" class="form-control" placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>プロダクトID</h6>
        <input type="text"  [(ngModel)]="pageModel.addProject.productId" name="productId" class="form-control" placeholder="">
      </div>
      <div class="form-group col-12">
        <h6>プロジェクト詳細</h6>
        <input type="text"  [(ngModel)]="pageModel.addProject.projectSummary" name="projectSummary" class="form-control" placeholder="">
      </div>

    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="button" class="btn grey btn-light mr-1"
                            (click)="d('Close modal')" ngbAutofocus>キャンセル</button>
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">登録</span></button>
      </div>
    </div>
  </form>
</ng-template>



<!-- ////////////////////////////////////////////////////////////////////////////-->
<!-- プロジェクトのデバイス連携 -->
<ng-template #deviceLinkModalContent let-c="close" let-d="dismiss">
  <form (ngSubmit)="onUpdate(editForm,selectedContact.id)" #editForm="ngForm">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">エラー詳細</h5>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group col-12">
        <label >エラーコード</label>
        <input type="text" [(ngModel)]="selectedErrorItem.errcode" #editname="ngModel" name="errcode" id="errcode"
          class="name form-control" placeholder="Name" disabled
          [ngClass]="{ 'is-invalid': editForm.submitted && editname.invalid }" required>
        <!-- <div *ngIf="editForm.submitted && editname.invalid" class="invalid-feedback">
          <div *ngIf="editname.errors.required">Name is required</div>
        </div> -->
      </div>


      <div class="form-group col-12">
        <label >デバイスID</label>
        <input type="text" [(ngModel)]="selectedErrorItem.device" disabled #editemail="ngModel" name="email" id="email"
          class="email form-control" 
          [ngClass]="{ 'is-invalid':editForm.submitted && editemail.invalid }" required email>
      </div>


      <div class="form-group col-12">
        <label >管理者</label>
        <input type="text" [(ngModel)]="selectedErrorItem.userid" disabled #editphone="ngModel" name="phone" id="phone"
          class="phone form-control" placeholder="Phone Number" maxlength="14">
      </div>


      <div class="form-group col-12">
        <label >発生日時</label>
        <input type="text" [(ngModel)]="selectedErrorItem.datatime" disabled #editTime="ngModel" name="time" id="time"
          class="phone form-control" placeholder="Phone Number"  maxlength="14">
      </div>

      <div class="form-group col-12">
        <label >対応ステータス</label>
        <input type="text" [(ngModel)]="selectedErrorItem.statusflag" disabled #editStatus="ngModel" name="status" id="status"
          class="phone form-control" placeholder="Phone Number"  maxlength="14">
      </div>
  

    </div>
    <div class="modal-footer">
      <div class="form-group position-relative has-icon-left mb-0">
        <button type="submit" id="edit-contact-item" class="btn btn-info edit-contact-item" data-dismiss="modal"><i
            class="la la-paper-plane-o d-lg-none"></i> <span class="d-none d-lg-block">対応完了</span></button>
      </div>
    </div>
  </form>
</ng-template>



