<div class="app-content content" *ngIf="isPageLoaded">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="row flexbox-container">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                            <div class="card-header border-0">
                                <div class="card-title text-center">
                                    <img src="assets/custom/images/logo.png" alt="branding logo">
                                </div>
                                <h6 class="card-subtitle text-muted text-center font-small-3 pt-2">
                                    <span>i-focus</span></h6>
                            </div>
                            <div class="card-content">
                                <!-- <app-social-signin></app-social-signin> -->
                                <p class="card-subtitle text-muted text-center font-small-3 mx-2 my-1">
                                    <span>NB-IoT プラットフォーム</span></p>

                                <div class="card-body">
                                    <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="tryLogin()">
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="text" formControlName="email" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="user-name"
                                                placeholder="Your Username" required>
                                            <div class="form-control-position">
                                                <i class="la la-user"></i>
                                            </div>
                                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">Username is required</div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="password" placeholder="Enter Password"
                                                formControlName="password" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                            <div class="form-control-position">
                                                <i class="la la-key"></i>
                                            </div>
                                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                <div *ngIf="f.password.errors.required">Password is required</div>
                                            </div>

                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <input type="text" formControlName="checkcode" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.checkcode.errors }"
                                                placeholder="Check Code" required>
                                            <div class="form-control-position">
                                                <!-- <i class="la la-expeditedssl"></i> -->
                                                <!-- <i class="la la-shield"></i> -->
                                                <i class="la la-lock"></i>
                                            </div>
                                            <div *ngIf="submitted && f.checkcode.errors" class="invalid-feedback">
                                                <div *ngIf="f.checkcode.errors.required">Check Code is required</div>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left">
                                            <div class="verifyDiv float-left" (click)="resetCheckCode()">
                                                <canvas #myCanvas class="verifyCanvas"></canvas>
                                            </div>
                                        </fieldset>
                                        <button type="submit" class="btn btn-outline-info btn-block">
                                            <i class="fa fa-refresh fa-spin" *ngIf="submitted"></i>
                                            <i class="feather ft-unlock" *ngIf="!submitted"></i> Login
                                        </button>
                                    </form>
                                </div>
                                <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                                    <span>New to AAASCloud ?</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>